<!-- Footer -->
<div ng-show="isShowing()">
  <div>
    <!--  Show logout button at the bottom in XS mode -->
    <div id="mobileFooter" class="visible-xs hidden-md col-xs-12">
      <button class="btn btn-sm btn-primary btn-structure"
        style="margin-top: 10px" ng-click="logout()"
        ng-show="user.authToken != null && appConfig.loginEnabled === 'true'">Logout</button>
      &nbsp; &nbsp;
      <a ng-href="mailto:{{appConfig.deployFeedbackEmail}}">
        <button class="btn btn-sm btn-primary btn-structure "
          style="margin-top: 10px;" ng-show="appConfig.deployFeedbackEmail">Feedback</button>
      </a>
    </div>
  </div>
  <!-- Footer -->
  <nav style="background-color: #ffffff"
    class="hidden-xs navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li><p class="navbar-text">
              <a class="navbar-link" href="{{appConfig.deployLink}}">{{appConfig.deployCopyright}}</a>
            </p></li>
          <li><p class="navbar-text">{{user.name}}</p></li>
          <li
            ng-show="user.authToken != null && appConfig.loginEnabled === 'true'">
            <button class="btn btn-sm btn-primary btn-structure"
              style="margin-top: 10px" ng-click="logout()">Logout</button>
          </li>
          <li>&nbsp;
            <p class="navbar-text">{{appConfig.projectVersion}}</p>
          </li>
          <li>
            <div style="text-align: center; padding: 5px; margin: 0 0 0 0;"
              class="alert alert-danger" ng-show="isGlassPaneNegative()">
              The Glass Pane activity indicator may not be functioning
              correctly.<br>Please send a screenshot to an administrator.
              (GPC: {{getGlassPaneCounter()}})
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">{{appConfig.deployPresentedBy}}</p>
          </li>
          <li style="margin-right: 15px;"><a
              ng-href="mailto:{{appConfig.deployFeedbackEmail}}">
              <button class="btn btn-sm btn-primary btn-structure"
                ng-show="appConfig.deployFeedbackEmail">Feedback</button>
            </a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--  end Footer -->