<span ng-show="!selected.project.editingEnabled" style="display: block;"
  class="alert alert-danger">Editing is disabled.</span>
<h4>
  <b style="padding-left: 0px" class="mb10 col-md-4 col-xs-4">{{selected.metadata.atomsLabel}}
    ({{pagedAtoms.totalCount}})</b>
  <span class="mb10 col-md-8 col-xs-8 {{selected.component.workflowStatus}}">
    {{selected.component.name}} {{selected.component.id}} </span>
</h4>
<span ng-show="pagedAtoms.totalCount > 10" style="float: right;">
  Page size: <select ng-model="paging['atoms'].pageSize" title="Page Size"
    ng-change="paging['atoms'].callbacks.getPagedList()"
    ng-options="item.value as item.name for item in pageSizes">
  </select>
</span>
<div pager paging="paging['atoms']" count="selected.component.atoms.length"
  callbacks="paging['atoms'].callbacks"></div>

<table class="slim table pointer">
  <thead>
    <tr>
      <th class="col-md-4 col-xs-4"><span
          ng-click="setSortField('atoms','name')">Name</span> <span
          ng-bind="getSortIndicator('atoms','name')"></span></th>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('atoms','terminology,termType')">Termgroup</span>
        <span ng-bind="getSortIndicator('atoms','terminology,termType')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('atoms','codeId')">Code</span> <span
          ng-bind="getSortIndicator('atoms','codeId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('atoms','conceptId')">Concept</span> <span
          ng-bind="getSortIndicator('atoms','conceptId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('atoms','descriptorId')">Descriptor</span> <span
          ng-bind="getSortIndicator('atoms','descriptorId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('atoms','lastModifiedBy')">Editor</span> <span
          ng-bind="getSortIndicator('atoms','lastModifiedBy')"></span></th>
      <th class="col-md-1 col-xs-1"><span style="float: right;">
          <button ng-click="openAddAtomModal(luser)" title="Add atom"
            ng-disabled="editingDisabled()" class="btn btn-xs btn-primary">Add
            Atom</button>
        </span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="atom in pagedAtoms.data" class="{{getAtomClass(atom)}}"
      ng-class="{selected: isRowSelected(atom)}">
      <td ng-click="toggleSelection(atom)">
        <input type="checkbox" value="{{atom.name}}"
          ng-checked="isRowSelected(atom)">&nbsp;
        <!-- Chevron -->
        <i class="noul glyphicon"
          ng-click="toggleAttributes(atom); $event.stopPropagation()"
          ng-class="[{'glyphicon-chevron-down' : attributes[atom.id]}, {'glyphicon-chevron-right' : !attributes[atom.id]}]"
          title="{{attributes[atom.id] ? 'Hide' : 'Show'}} attributes"></i>
        &nbsp; {{atom.name}}
      </td>
      <td ng-click="toggleSelection(atom)">{{atom.terminology}}/{{atom.termType}}</td>
      <td ng-click="toggleSelection(atom)">{{atom.codeId}}</td>
      <td ng-click="toggleSelection(atom)">{{atom.conceptId}}</td>
      <td ng-click="toggleSelection(atom)">{{atom.descriptorId}}</td>
      <td ng-click="toggleSelection(atom)">{{atom.lastModifiedBy}}</td>
      <td class="nobreak">
        <span notes selected="{component:atom, project:selected.project}"
          empty="atom.notes" type="Atom"></span>

        <i ng-click="openEditAtomModal(atom); $event.stopPropagation()"
          ng-show="selected.project.editingEnabled" title="Edit"
          class="noul glyphicon glyphicon-pencil"></i>

        <i ng-show="isAtomDeleteable(atom) && selected.project.editingEnabled"
          confirm="Are you sure you want to remove the atom ({{atom.name}})?"
          ng-click="removeAtomFromConcept(atom); $event.stopPropagation()"
          title="Delete" class="noul glyphicon glyphicon-trash"></i>

      </td>
    </tr>
    <tr ng-show="attributes[atom.id].ct != null" ng-repeat-end>
      <td colspan="7">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <table class="slim table"
              ng-show="attributes[atom.id].atom.length>0">
              <tr ng-repeat="att in attributes[atom.id].atom">
                <td class="col-md-2 col-xs-2">ATOM</td>
                <td class="col-md-3 col-xs-3">{{att.name}}</td>
                <td class="col-md-7 col-xs-7">{{att.value}}</td>
              </tr>
            </table>
            <div ng-show="attributes[atom.id].code">
              <table class="slim table"
                ng-show="attributes[atom.id].code.length>0">
                <tr ng-repeat="att in attributes[atom.id].code">
                  <td class="col-md-2 col-xs-7">CODE</td>
                  <td class="col-md-3 col-xs-3">{{att.name}}</td>
                  <td class="col-md-6 col-xs-6">{{att.value}}</td>
                </tr>
              </table>
            </div>
            <div ng-show="attributes[atom.id].concept">
              <table class="slim table"
                ng-show="attributes[atom.id].concept.length>0">
                <tr ng-repeat="att in attributes[atom.id].concept">
                  <td class="col-md-2 col-xs-2">CONCEPT</td>
                  <td class="col-md-3 col-xs-3">{{att.name}}</td>
                  <td class="col-md-7 col-xs-7">{{att.value}}</td>
                </tr>
              </table>
            </div>
            <div ng-show="attributes[atom.id].descriptor">
              <table class="slim table"
                ng-show="attributes[atom.id].descriptor.length>0">
                <tr ng-repeat="att in attributes[atom.id].descriptor">
                  <td class="col-md-2 col-xs-2">DESCRIPTOR</td>
                  <td class="col-md-3 col-xs-3">{{att.name}}</td>
                  <td class="col-md-7 col-xs-7">{{att.value}}</td>
                </tr>
              </table>
            </div>

            <span ng-show="attributes[atom.id].ct == 0"
              class="alert alert-warning"> No attributes </span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Controls in floating footer -->
<nav style="background-color: #ffffff"
  class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span ng-show="paging['atoms'].sortField" style="float: left;">
      <button ng-click="setSortPreferred()" title="Sort by atom precedence"
        class="btn btn-xs btn-primary">Sort preferred</button>
    </span>
    <span style="float: left;">
      <button ng-click="reloadConcept()" title="Refresh concept"
        class="btn btn-xs btn-primary">Refresh</button>
    </span>
    <span style="float: right;">
      <button ng-click="approveConcept()" title="Approve"
        ng-disabled="editingDisabled()" class="btn btn-xs btn-primary">Approve</button>
      <button ng-click="next()" title="Next" ng-disabled="editingDisabled()"
        class="btn btn-xs btn-primary">Next</button>
      <button ng-click="approveNext()" title="Approve/Next"
        ng-disabled="editingDisabled()" class="btn btn-xs btn-primary">Approve/Next</button>
      <button ng-click="openMergeModal()" ng-disabled="editingDisabled()"
        title="Merge" class="btn btn-xs btn-primary">Merge</button>
      <button ng-click="openMoveModal()"
        ng-disabled="getSelectedAtomCount() == 0 || editingDisabled()"
        title="Move" class="btn btn-xs btn-primary">Move</button>
      <button ng-click="openSplitModal()"
        ng-disabled="getSelectedAtomCount() == 0 || editingDisabled()"
        title="Split" class="btn btn-xs btn-primary">Split</button>
    </span>
  </div>
</nav>
