
<h4>
  <b>Atoms Editor</b>
</h4>
<h4 class="{{selected.concept.workflowStatus}}">{{selected.concept.name}}
  {{selected.concept.id}}</h4>

<div pager paging="paging['atoms']" count="selected.concept.atoms.length"
      callback="paging['atoms'].callback"></div>


<table class="table">
  <thead>
    <tr>
      <th class="col-md-4 col-xs-4"><span
              ng-click="setSortField('atoms','name')">Name</span>
              <span ng-bind="getSortIndicator('atoms','name')"></span></th>
      <th class="col-md-2 col-xs-2"><span
              ng-click="setSortField('atoms','terminology')">Termgroup</span>
              <span ng-bind="getSortIndicator('atoms','terminology')"></span></th>
      <th class="col-md-1 col-xs-1"><span
              ng-click="setSortField('atoms','codeId')">Code</span>
              <span ng-bind="getSortIndicator('atoms','codeId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
              ng-click="setSortField('atoms','conceptId')">Concept</span>
              <span ng-bind="getSortIndicator('atoms','conceptId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
              ng-click="setSortField('atoms','descriptorId')">Descriptor</span>
              <span ng-bind="getSortIndicator('atoms','descriptorId')"></span></th>
      <th class="col-md-1 col-xs-1"><span
              ng-click="setSortField('atoms','lastModifiedBy')">Editor</span>
              <span ng-bind="getSortIndicator('atoms','lastModifiedBy')"></span></th>
      <th class="col-md-1 col-xs-1"><span style="float: right;">
                <button ng-click="openAddAtomModal(luser)" title="Add atom"
                  class="btn btn-xs btn-primary">Add Atom</button>
              </span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="atom in pagedAtoms.data"
        ng-class="getAtomStatus(atom)">
      <td>{{atom.name}}</td>
      <td>{{atom.terminology}}/{{atom.termType}}</td>
      <td>{{atom.codeId}}</td>
      <td>{{atom.conceptId}}</td>
      <td>{{atom.descriptorId}}</td>
      <td>{{atom.lastModifiedBy}}</td>
      <td class="nobreak">

              <i ng-click="openEditAtomModal(atom); $event.stopPropagation()"
                title="Edit" class="noul glyphicon glyphicon-pencil"></i>

              <i
                confirm="Are you sure you want to remove the atom ({{atom.name}})?"
                ng-click="removeAtomFromConcept(atom); $event.stopPropagation()"
                title="Delete" class="noul glyphicon glyphicon-trash"></i>
              
            </td>
    </tr>
  </tbody>
</table>

<span style="float: right;">
  <button confirm="Are you sure you want to approve the selected concept?"
    ng-click="approveConcept()" title="Approve" class="btn btn-xs btn-primary">Approve</button>
  <button 
    ng-click="next()" title="Next" class="btn btn-xs btn-primary">Next</button>
  <button confirm="Are you sure you want to approve the selected concept?"
    ng-click="approveNext()" title="Approve/Next" class="btn btn-xs btn-primary">Approve/Next</button>
</span>
