<div class="modal-header">
  <h4>{{action}} Atom</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>
          <textarea rows="2" cols="40" ng-show="action == 'Add'" ng-model="atom.name"
            placeholder="Name of atom"></textarea>          
          <span ng-show="action != 'Add'">{{atom.name}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Termgroup</b>
        </td>
        <td>
          <span ng-show="action == 'Add'"><select ng-model="selectedTermgroup"
            ng-options="item for item in selected.project.newAtomTermgroups"></select>  </span>        
          <span ng-show="action != 'Add'">{{atom.terminology}}/{{atom.termType}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Language</b>
        </td>
        <td>
          <span ng-show="action == 'Add'"><select ng-model="atom.language"
            ng-options="item.key as item.value for item in selected.metadata.languages"></select>  </span>        
          <span ng-show="action != 'Add'">{{atom.language}}</span>
        </td>
      </tr>
      <tr ng-show="action == 'Add' || atom.codeId">
        <td>
          <b>Code</b>
        </td>
        <td>
          <input ng-show="action == 'Add'" ng-model="atom.codeId">
          <span ng-show="action != 'Add'">{{atom.codeId}}</span>
        </td>
      </tr>
      <tr  ng-show="action == 'Add' || atom.conceptId">
        <td>
          <b>Concept</b>
        </td>
        <td>
          <input ng-show="action == 'Add'" ng-model="atom.conceptId">
          <span ng-show="action != 'Add'">{{atom.conceptId}}</span>
        </td>
      </tr>      
      <tr ng-show="action == 'Add' || atom.descriptorId">
        <td>
          <b>Descriptor</b>
        </td>
        <td>
          <input ng-show="action == 'Add'" ng-model="atom.descriptorId">
          <span ng-show="action != 'Add'">{{atom.descriptorId}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Publishable</b>
        </td>
        <td>
          <input type="checkbox" ng-model="atom.publishable"
            title="Atom is publishable.">
        </td>
      </tr>
      <tr>
        <td>
          <b>Workflow Status</b>
        </td>
        <td>
        
          <select ng-model="atom.workflowStatus"
            ng-options="item.substring(0, 1) for item in workflowStatuses"></select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Suppressible</b>
        </td>
        <td>
          <input type="checkbox" ng-model="atom.suppressible"
            title="Atom is suppressible">
        </td>
      </tr>
    </table>
  </div>

  <!-- Errors -->
  <div errors="errors"></div>
  
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="submitAtom(atom); 
    ">{{action}}</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>