
<!-- C1 -->
<div class="col-md-6 col-xs-12">
  <h4 ng-show="selected.bin && lists.records.totalCount>0">Bin:
    {{selected.bin.name}}&nbsp;({{lists.records.totalCount}})</h4>

  <div pager paging="paging" count="lists.records.totalCount"
    callback="paging.callback"></div>

  <table
    ng-show="lists.records.totalCount > 0 || paging.filter || paging.typeFilter"
    class="table">
    <thead class="pointer">
      <tr>
        <th class="col-md-1 col-xs-1">Cluster</th>
        <th class="col-md-1 col-xs-1"><select style="width: 40px;"
          ng-model="paging.typeFilter"
          ng-options="item for item in lists.recordTypes"
          ng-change="paging.callback.getPagedList()">
            <option value="">All</option>
        </select></th>
        <th class="col-md-3 col-xs-3">Concept Id</th>
        <th class="col-md-6 col-xs-6">Concept Name</th>
      </tr>
    </thead>
    <tbody ng-repeat="record in lists.records">
      <tr>
        <td rowspan="{{record.concepts.length+1}}">
          {{record.clusterId}}
          <i ng-show="record.worklistName" uib-tooltip="{{record.worklistName}}"
            tooltip-placement="right" class="glyphicon glyphicon-list-alt"></i>
        </td>
        <td rowspan="{{record.concepts.length+1}}">
          <button class="minibtn btn btn-xs btn-danger"
            ng-show="record.workflowStatus == 'NEEDS_REVIEW'"
            uib-tooltip="Needs review">N</button>
          <button class="minibtn btn btn-xs btn-success"
            ng-show="record.workflowStatus != 'NEEDS_REVIEW'"
            uib-tooltip="Reviewed">R</button>
        </td>
      </tr>
      <tr ng-click="selectConcept(concept);"
        ng-class="{selected : concept.id == selected.concept.id}"
        class={{concept.workflowStatus}} ng-repeat="concept in record.concepts">
        <td>{{concept.id}}</td>
        <td>{{concept.name}}</td>
      </tr>
    </tbody>
  </table>
  <span
    ng-show="!paging.filter && !paging.typeFilter && lists.records.totalCount == 0"
    class="alert alert-warning"> No tracking records </span>
  <span
    ng-show="(paging.filter || paging.typeFilter) && lists.records.totalCount == 0"
    class="alert alert-warning"> No matching tracking records found </span>
</div>

<!-- C2 -->
<div class="col-md-6 col-xs-12">
  <div report-pre selected="selected"></div>
</div>