<!-- Controlled by ContentCtrl (in contentController.js)  -->
<div class="row">
  <div class="col-md-6 col-xs-12">
    <form style="margin-bottom: 0px;">
      <table class="table">
        <tr>
          <td style="width: 175px;">Terminology</td>
          <td>
            <select ng-model="metadata.terminology"
              ng-change="setTerminology(metadata.terminology)"
              ng-options="terminology as terminology.terminology for terminology in getViewableTerminologies() | orderBy:'terminology'"></select>
            <button ng-show="!metadata.terminology.metathesaurus" type="button"
              class="btn btn-sm btn-primary" ng-click="browseHierarchy()"
              uib-tooltip="Click to browse top level hierarchy">Browse</button>
          </td>
        </tr>
        <tr>
          <td style="width: 175px;">
            Query <i class="glyphicon glyphicon-cog noul pull-right"
              uib-tooltip="Advanced Search Options"
              ng-click="searchParams.advancedMode = !searchParams.advancedMode"></i>
          </td>
          <td>
            <input autofocus style="margin-bottom: 5px; width: 75%;" type="text"
              ng-model="searchParams.query" placeholder="Enter search terms"
              typeahead="suggestion for suggestion in autocomplete($viewValue)"
              typeahead-loading="loadingSuggestions"
              typeahead-focus-first="false"
              typeahead-on-select="searchParams.page = 1 && findComponents(true)"
              typeahead-editable="true" typeahead-min-length="3">
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" />
            <button class="btn btn-sm btn-primary" type="submit"
              ng-click="searchParams.page = 1 && findComponents(true)">Search</button>
            <button class="btn btn-sm btn-warning" type="button"
              ng-show="searchParams.query || semanticType"
              ng-click="clearQuery()" uib-tooltip="Click to clear search">Clear</button>
        </tr>
      </table>
    </form>
  </div>
</div>
<div class="row">
  <!-- Search Controls -->
  <div class="col-md-4 col-xs-12">
    <div ng-show="searchParams.advancedMode">
      <table class="table">
        <tr ng-show="metadata.semanticTypes.length > 0">
          <td style="width: 175px;">
            Semantic Type <i class="glyphicon glyphicon-remove pull-right"
              ng-show="searchParams.semanticType"
              ng-click="searchParams.semanticType = null;"></i>
          </td>
          <td>
            <select style="margin-bottom: 5px; width: 85%;"
              uib-tooltip="Semantic Type" ng-show="metadata.semanticTypes"
              ng-model="searchParams.semanticType"
              ng-options="item.value as item.value for item in metadata.semanticTypes | orderBy:'value'">
              <option value="">--- All ---</option>
            </select>
          </td>
        <tr ng-show="metadata.termTypes.length > 0">
          <td style="width: 175px;">
            Term Type <i class="glyphicon glyphicon-remove pull-right"
              ng-show="searchParams.termType"
              ng-click="searchParams.termType = null;"></i>
          </td>
          <td>
            <select style="margin-bottom: 5px; width: 85%" type="text"
              ng-options="termType.key as termType.key + ' / ' + termType.value for termType in metadata.termTypes"
              ng-model="searchParams.termType">
              <option value="">--- All ---</option>
            </select>
          </td>
        </tr>
        <tr ng-show="metadata.terminology.metathesaurus">
          <td style="width: 175px;">
            Match Terminology <i class="glyphicon glyphicon-remove pull-right"
              ng-show="searchParams.matchTerminology"
              ng-click="searchParams.matchTerminology = null;"></i>
          </td>
          <td>
            <select style="margin-bottom: 5px; width: 85%" type="text"
              ng-options="terminology.terminology as terminology.terminology for terminology in getViewableTerminologies() | orderBy:'terminology'"
              ng-model="searchParams.matchTerminology">
              <option value="">--- All ---</option>
            </select>
          </td>
        </tr>
        <tr ng-show="metadata.languages.length > 0">
          <td style="width: 175px;">
            Language <i class="glyphicon glyphicon-remove pull-right"
              ng-show="searchParams.language"
              ng-click="searchParams.language = null;"></i>
          </td>
          <td>
            <select style="margin-bottom: 5px; width: 85%" type="text"
              ng-options="language.key as language.key + ' / ' + language.value for language in metadata.languages"
              ng-model="searchParams.language">
              <option value="">--- All ---
            </select>
          </td>
        </tr>
      </table>
      </form>
    </div>
    <!-- End search controls-->
    <!-- Search Results -->
    <div ng-show="queryForList && searchResults.list">
      <div class="alert alert-success">
        <span
          ng-show="searchParams.query && searchResults && searchResults.list.totalCount == 0">No</span>
        <span ng-show="searchResults.list.totalCount > 0">{{searchResults.list.totalCount}}</span>
        Results
        <a ng-show="!metadata.terminology.metathesaurus"
          class="pull-right glyphicon glyphicon-tree-conifer"
          ng-click="setTreeView()" uib-tooltip="Switch to tree view"
          tooltip-placement="right"></a>
      </div>
      <!--  Margin added to prevent crowding -->
      <uib-pagination items-per-page="pageSizes.general" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="searchResults.list.totalCount > pageSizes.general"
        total-items="searchResults.list.totalCount" ng-model="searchParams.page"
        ng-change="findComponents(false)"></uib-pagination>
      <table class="table table-hover" style="margin-top: 10px;"
        ng-show="searchResults.list.length > 0">
        <tbody>
          <!-- table-hover makes use of the active class -->
          <tr ng-class="{active: searchResult.active}"
            ng-repeat="searchResult in searchResults.list"
            ng-click="getComponent(searchResult.terminologyId, searchResult.terminology, searchResult.version)">
            <td>
              <span class="nobreak">
                <i ng-class="getColorForScore(searchResult.score)">&#9679;</i>
                <span
                  ng-show="searchResult.terminology != metadata.terminology.terminology">{{searchResult.terminology}}/</span>
                <span class="breakword">{{searchResult.terminologyId}}</span>
              </span>
            </td>
            <td>
              {{searchResult.value}}
              <span class="label label-default" ng-show="searchResult.obsolete"
                uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <p style="display: block;">&nbsp;</p>
    </div>
    <!-- Tree view -->
    <div ng-show="queryForTree && searchResults.tree">
      <div class="alert alert-success">
        <span ng-show="searchOrBrowse === 'BROWSE'">Hierarchy</span>
        <span ng-show="searchOrBrowse == null && searchResults.tree.length == 0">Search
          Results</span>
        <span ng-show="searchParams.query && searchResults.tree.totalCount == 0">No
          Results</span>
        <span ng-show="searchResults.tree.totalCount > 0">{{searchResults.tree.totalCount}}
          Results</span>
        <span class="pull-right">
          <a class="glyphicon glyphicon-star"
            ng-show="showExtension && !terminology.metathesaurus && metadata.labelSets.length > 0 && searchResults.tree.totalCount > 0"
            uib-tooltip="Click to hide extension highlights in tree"
            ng-click="toggleExtension()"> </a>
          <a class="glyphicon glyphicon-star-empty"
            ng-show="!showExtension && !terminology.metathesaurus && metadata.labelSets.length > 0 && searchResults.tree.totalCount > 0"
            uib-tooltip="Click to show extension highlights in tree"
            ng-click="toggleExtension()"> </a>
          &nbsp;
          <a class="pull-right glyphicon glyphicon-th-list"
            ng-click="setListView()" uib-tooltip="Switch to list view"
            tooltip-placement="bottom"></a>
        </span>
      </div>
      <uib-pagination style="display:block;" items-per-page="pageSizes.trees"
        max-size="5" boundary-links="true" class="pagination-sm"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
        last-text="&raquo;"
        ng-show="searchResults.tree.totalCount > pageSizes.trees"
        total-items="searchResults.tree.totalCount" ng-model="searchParams.page"
        ng-change="findComponents(false)"></uib-pagination>
      
      <div tree-search-result search-results="searchResults" parameters = "srtParams" callbacks="srtCallbacks"><</div>
      <p style="display: block;">&nbsp;</p>
    </div>
  </div>
  <div class="col-md-8 col-xs-12">
    <!-- error bar for reports section -->
    <div ng-show="component.error != null" class="row alert alert-warning">
      {{component.error}}
      <button class="btn btn-xs btn-primary"
        ng-click="getConceptFromHistory(component.historyIndex - 2)"
        uib-tooltip="{{getComponentStr(component.history[component.historyIndex - 2])}}">Back</button>
    </div>
    <!-- Title bar & Navigation history -->
    <div class="row">
      <div class="col-md-12 nobreak alert alert-info"
        ng-if="component.object != null">
        <div style="display: inline" uib-dropdown dropdown-append-to-body>
          <a uib-tooltip="View All History"
            ng-show="component.history.length > 2"
            class="glyphicon glyphicon-time dropdown-toggle" uib-dropdown-toggle
            id="history-dropdown"></a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="history-dropdown">
            <li ng-show="localHistoryNextCt > 0">... {{localHistoryNextCt}}
              more recent</li>
            <li ng-repeat="component in localHistory | orderBy:'index':true"
              ng-click="getComponentFromHistory(component.index)"><a>
                <i style="margin-right: 1em" class="glyphicon glyphicon-ok"
                  ng-show="component.index === component.historyIndex"></i>
                {{getComponentStr(component)}}
              </a></li>
            <li ng-show="localHistoryPreviousCt > 0">...
              {{localHistoryPreviousCt}} less recent</li>
          </ul>
        </div>
        <a class="glyphicon glyphicon-step-backward"
          ng-click="getComponentFromHistory(component.historyIndex -1)"
          ng-show="component.historyIndex > 0"
          uib-tooltip="{{getComponentStr(component.history[component.historyIndex - 1])}}"></a>
        <span
          ng-show="component.object.terminology != metadata.terminology.terminology">{{component.object.terminology}}</span>
        {{component.type}} Report
        <a class="glyphicon glyphicon-step-forward"
          ng-click="getComponentFromHistory(component.historyIndex + 1)"
          ng-show="component.history.length > component.historyIndex + 1 && component.history.length > 0"
          uib-tooltip="{{getComponentStr(component.history[component.historyIndex + 1])}}"></a>
      </div>
    </div>
    <!-- Component display -->
    <div class="row" ng-if="component.object != null">
      <div report component="component" metadata="metadata"
        callbacks="componentReportCallbacks"></div>
      <!-- end Component Display -->
    </div>
  </div>
</div>