<div class="modal-header">
  <h3 class="modal-title">Select {{metadata.terminology.terminology}}
    {{classType}}</h3>
</div>
<div class="modal-body">
  <div class="row m10">
    <form>
      <div class="col-md-2 col-xs-3"
        style="margin-right: 0px; padding-right: 0px;">Query</div>
      <div class="col-md-7 col-xs-9">
        <input autofocus style="margin-bottom: 5px; width: 100%;" type="text"
          ng-model="searchParams.query" placeholder="Enter search terms"
          typeahead="suggestion for suggestion in autocomplete($viewValue)"
          typeahead-loading="loadingSuggestions" typeahead-focus-first="false"
          typeahead-on-select="searchParams.page = 1 && findComponents(true)"
          typeahead-editable="true" typeahead-min-length="3">
      </div>
      <div class="col-md-3 col-xs-12">
        <button class="btn btn-sm btn-primary" type="submit"
          ng-click="searchParams.page = 1 && findComponentsAsList(true)">Search</button>
        <button class="btn btn-sm btn-warning" type="button"
          ng-show="searchParams.query || semanticType"
          ng-click="searchParams.query = null;"
          uib-tooltip="Click to clear search">Clear</button>
      </div>
    </form>
  </div>
  <div class="row m10">
    <div class="col-md-5 col-xs-12 nobreak">
      <div ng-show="searchResults.totalCount > 0">
        <div class="alert alert-success">
          <span
            ng-show="searchParams.query && searchResults && searchResults.totalCount == 0">No</span>
          <span ng-show="searchResults.totalCount > 0">{{searchResults.totalCount}}</span>
          Results
        </div>
        <!--  Margin added to prevent crowding -->
        <uib-pagination items-per-page="pageSizes.general" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="searchResults.totalCount > pageSizes.general"
          total-items="searchResults.totalCount" ng-model="searchParams.page"
          ng-change="findComponentsAsList(false)"></uib-pagination>
        <table class="table table-hover" style="margin-top: 10px;"
          ng-show="searchResults.count > 0">
          <tbody>
            <!-- table-hover makes use of the active class -->
            <tr ng-class="{active: searchResult.active}"
              ng-repeat="searchResult in searchResults.results"
              ng-click="getComponent(searchResult)">
              <td>
                <span class="nobreak">
                  <i ng-class="getColorForScore(searchResult.score)">&#9679;</i>
                  <span
                    ng-show="searchResult.terminology != metadata.terminology.terminology">{{searchResult.terminology}}/</span>
                  <span class="breakword">{{searchResult.terminologyId}}</span>
                </span>
              </td>
              <td>
                <span class="breakword"> {{searchResult.value}}</span>
                <span class="label label-default"
                  ng-show="searchResult.obsolete"
                  uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
              </td>
              <td>
                <i class="noul glyphicon glyphicon-plus" title="Select"
                  ng-click="selectSearchResult(searchResult)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="display: block;">&nbsp;</p>
      </div>
    </div>
    <div class="col-md-7 col-xs-12 " ng-if="component != null">
      <div report component="component" metadata="metadata" modal="true"
        callbacks="componentReportCallbacks"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="selectComponent()">Select</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>