
<h4>
  <b>Contexts</b>
</h4>
<h4 class="{{selected.component.workflowStatus}}">{{selected.component.name}}
  {{selected.component.id}}</h4>

<div pager paging="paging['entries']" count="entries.length"
  callbacks="paging['entries'].callbacks"></div>


<table class="table">
  <thead>
    <tr>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('entries','terminology')">Terminology</span> <span
          ng-bind="getSortIndicator('entries','terminology')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('entries','id')">Id</span> <span
          ng-bind="getSortIndicator('entries','id')"></span></th>
      <th class="col-md-1 col-xs-1"><span
          ng-click="setSortField('entries','version')">Version</span> <span
          ng-bind="getSortIndicator('entries','version')"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in pagedEntries.data"
      ng-click="selectEntry($event, entry)"
      ng-class="{selected: isRowSelected(entry)}">
      <td>{{entry.terminology}}</td>
      <td>{{entry.terminologyId}}</td>
      <td>{{entry.version}}</td>

    </tr>
  </tbody>
</table>

<div tree-component component="component" metadata="selected.metadata"
  callbacks="callbacks"></div>

<div ng-if="treeCount == 0">
  <span style="display: block;" class="alert alert-warning">No
    hierarchies</span>
</div>

