
<div ui-tree-handle>
	<!-- Expand/collapse controls 
		 Closed if collapsed flag OR children have not been loaded
		 Open if collapsed flag false AND children have already been loaded
		 Toggling behavior determined in js
	-->
	<a ng-if="tree.self.childCt > 0" data-nodrag ng-click="getTreeChildren(tree, this)"><span
		class="glyphicon"
		ng-class="getTreeNodeIcon(tree, collapsed)"></span></a>
		

	<!--  Leaf display for terminal nodes -->
	<i class="glyphicon glyphicon-leaf" ng-if="tree.self.childCt == 0"></i>

	<!-- if not the component viewed, render with hyperlink -->
	<span ng-show="tree.self.node.terminologyId != component.terminologyId"><a
		ng-click="getComponent(tree.self.node.terminology, tree.self.node.terminologyId)">
			{{tree.self.node.terminologyId}}</a>: {{tree.self.node.name}} </span>

	<!-- if the component displayed, render in bold without hyperlink -->
	<span ng-show="tree.self.node.terminologyId === component.terminologyId">
		<span class="highlighted">{{tree.self.node.terminologyId}}: {{tree.self.node.name}}</span>
	</span>

	<!-- recursive display of next level of tree -->
	<ol ui-tree-nodes="" ng-model="tree.child"
		ng-class="{hidden: collapsed}">
		
		<!--  render the children -->
		<li ng-repeat="tree in tree.child" ui-tree-node
			ng-include="'ui/partials/componentTree_renderer.html'"></li>
			
		<!-- if not all children displayed, display a message -->
		<li ng-show="hasHiddenSiblings(tree, component.terminologyId) == true"><i class="glyphicon glyphicon-leaf" style="opacity: 0"></i> <span tooltip="Future improvement: paged display of hidden siblings">... {{tree.self.childCt - tree.child.length}} additional siblings not displayed</span></li>
	</ol>
	
</div>