<p class="introText">This demonstration browser and app is loaded with a
	mini SNOMEDCT edition based on 20140731 data. It contains about 10,000 concepts
	across the content spectrum.</p>
<p class="introText">Due to the use of IP restricted content, we require
	users to authenticate with an NLM UTS account to ensure they have agreed to the
	UMLS License. We are a UMLS authorized content distributor.</p>
<p class="introText">
	To obtain a UTS account, visit <a href="http://uts.nlm.nih.gov">http://uts.nlm.nih.gov</a>
</p>
<p class="introText">
	Disclaimer: this is not an official <a href="http://www.ihtsdo.org">IHTSDO</a>
	site.
</p>
<p class="introText">
	For complete documentation, see the <a
		href="http://wiki.terminology.tools/confluence/display/UTS/UMLS+Terminology+Server+Home">UMLS
		Terminology Server wiki</a>.
</p>
<p class="introText">
	For support or questions, email:<a href="mailto:info@westcoastinformatics.com">info@westcoastinformatics.com</a>