<div class="modal-header">
  <h4>Log Entries</h4>
</div>

<div class="modal-body">
  <div class="row">

    <div ng-show="errors.length > 0" class="alert alert-danger alert-error">
      {{errors[0]}}
      <div style="display: inline; float: right;">
        <i ng-show="errors[1]"
          title="{{error.expand ? 'Show' : 'Hide'}} long eror"
          class="noul material-icons md-18"
          ng-click="error.expand = !error.expand;">attach_file</i>
      </div>
      <p ng-show="errors[1] && error.expand">
        <br />{{errors[1]}}
      </p>
    </div>

    <div class="col-md-12 col-xs-12">

      <div ng-show="log.length > 0"
        style="max-height: 500px; overflow-y: scroll;">
        <pre>{{log}}</pre>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button class="btn btn-warning" ng-click="close()">Close</button>
</div>