
<!-- R1 -->
<div class="row">
  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <div>
      <uib-pagination items-per-page="pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="worklists.totalCount > visibleSize || paging['worklist'].filter"
        total-items="worklists.totalCount" ng-model="paging['worklist'].page"
        ng-change="getWorklists()"></uib-pagination>

      <!-- Mobile friendly line-break -->
      <span class="visible-xs">
        <br class="visible-xs-inline" />
      </span>

      <input class="input-filter" placeholder="Search"
        ng-show="worklists.totalCount > visibleSize || paging['worklist'].filter"
        type="text" ng-model="paging['worklist'].filter"
        ng-model-options="{ debounce: 300 }" ng-change="getWorklists()"
        title="{{paging['worklist'].filter}}" list="filter{{value}}">
      <datalist id="filter{{value}}">
        <option ng-repeat="filter in filters | orderBy:'key'"
          value="{{filter.key}}:{{filter.value}}">{{filter.value}}</option>
      </datalist>

      <button class="btn btn-xs btn-warning" ng-show="paging['worklist'].filter"
        ng-click="paging['worklist'].filter = ''; getWorklists()"
        title="Click to clear filter text">Clear</button>

      <!-- No need to show for BETA, there should be only one -->
      <button type="button" class="btn btn-xs btn-primary"
        ng-show="worklists.totalCount > 0 && (value == 'RELEASE' || value == 'PUBLISHED')"
        ng-model="showLatest" ng-change="getWorklists()" uib-btn-checkbox
        btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-show="showLatest" title="Click to show all">Latest</span>
        <span ng-hide="showLatest" title="Click to show only most recent">All</span>
      </button>

    </div>
    <!-- Basic Worklist info -->
    <span ng-show="worklists.totalCount == 0" style="display: block;"
      class="alert alert-warning">No worklists.</span>
    <table ng-show="worklists.totalCount > 0" class="table">
      <thead class="table-select-row">
        <tr>
          
          <!-- Worklist name header -->
          <th class="col-md-5 col-xs-5">Name / Last Modified</th>

          <!-- Author/Reviewer Time header -->
          <th ng-show="value == 'Worklist'" class="col-md-3 col-xs-3">
              Editor
            / <span title="Group">Group
            </span> / <span title="Time">Time
            </span></th>

          <!-- Workflow Status header -->
          <th ng-show="value == 'Worklist'" class="col-md-2 col-xs-2">
              Status</th>

          <!-- Actions header -->
          <th class="col-md-2 col-xs-2" ">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="worklist in worklists" ng-click="selectWorklist(worklist);"
          ng-class="{selected: worklist.id == selected.worklist.id}">
          
          <td>
            {{worklist.name}}
            <span>
              <br />{{toDate(worklist.lastModified)}}
            </span>
          </td>

          <td ng-show="value == 'Worklist'">
            <span style="word-break: break-word;"> {{joinEditors(worklist)}}</span> <br/>
            <span> {{worklist.team}} </span> <br/>
            <span> {{toTime(worklist.authorTime)}} </span>
          </td>

          <td ng-show="value == 'Worklist'" >
            {{worklist.workflowStatus}}
          </td>

          <!--  actions -->
          <td class="nobreak">
            <i title="Remove" ng-show="!worklist.staged"
              confirm="Are you sure you want to remove the worklist ({{worklist.name}})?"
              ng-click="removeWorklist(worklist); $event.stopPropagation()"
              class="noul material-icons md-18">delete</i>

            <i  ng-show="value == 'Worklist' && joinEditors(worklist).length == 0"
              ng-click="openAssignWorklistModal(worklist,'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>

            <i  ng-show="value == 'Worklist' && joinEditors(worklist).length > 0"
              ng-click="unassignWorklist(worklist); $event.stopPropagation()"
              title="Unassign" class="noul material-icons md-18">assignment_return</i>
              
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Details, Releases, Records -->
    <span ng-show="!selected.worklist && worklists.length > 0"
      class="alert alert-warning">Select a worklist to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.worklist">

      <!-- Worklist Details -->
      <h4>{{selected.worklist.name}}</h4>
      <table class="table">
        <tbody>          

          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.worklist.description}}</td>
          </tr>
 
          <tr ng-show="!isDirectory()">
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.worklist.notes.length > 0" class="truncate">
                <span ng-bind-html="getLatestNote(selected.worklist)"></span>
                <span ng-show="selected.worklist.notes.length > 1">
                  <br />{{selected.worklist.notes.length-1}} more...
                </span>
              </div>
              <div>
                <i ng-show="selected.worklist.notes.length > 0"
                  ng-click="openNotesModal(selected.worklist, 'Worklist'); $event.stopPropagation()"
                  title="Edit worklist notes" class="noul material-icons md-18">assignment</i>
                <i ng-show="selected.worklist.notes.length == 0"
                  title="Add worklist note (no notes yet)"
                  ng-click="openNotesModal(selected.worklist, 'Worklist'); $event.stopPropagation()"
                  class="md-grey material-icons md-18">assignment</i>
                
              </div>
            </td>
          </tr>
 
          <tr ng-show="value == 'Worklist'">
            <td>
              <b>Workflow Bin</b>
            </td>
            <td>{{selected.worklist.workflowBinName}}</td>
          </tr>
          
          <tr ng-show="value == 'Worklist'">
            <td>
              <b>Group</b>
            </td>
            <td>{{selected.worklist.worklistGroup}}</td>
          </tr>
          <tr>
            <td>
              <b>Cluster/Concept Counts</b>
            </td>
            <td>{{selected.worklist.stats.clusterCt}}/{{selected.worklist.stats.conceptCt}}</td>
          </tr>
          <!-- TODO: make dates dynamic in table based on workflowStateHistory keys -->
          <tr>
            <td>
              <b>Create date</b>
            </td>
            <td>{{toDate(selected.worklist.timestamp)}}</td>
          </tr>

        </tbody>
      </table>

    </div>


    <!-- End R1C2 -->
  </div>

  <!-- End R1 -->
</div>

<hr ng-show="selected.worklist"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R2 -->
<div class="row">

  <!-- R2C1 -->
  <div class="col-md-6 col-xs-12">


    <div class="col-md-12 col-xs-12">
      <h4 ng-show="selected.worklist">
        {{value}} Clusters
        <span ng-show="selected.worklist.records.totalCount>0">
          ({{selected.worklist.records.totalCount}})</span>

      </h4>
      <span
        ng-show="selected.worklist && !paging['record'].filter && !paging['record'].typeFilter && selected.worklist.records.totalCount == 0">
        <br />
        <span class="alert alert-warning">Worklist has no records</span>
      </span>

      <div>
        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-xs" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="selected.worklist.records.totalCount > pageSize"
            total-items="selected.worklist.records.totalCount"
            ng-model="paging['record'].page"
            ng-change="getRecords(selected.worklist)"></uib-pagination>

          <input class="input-filter" placeholder="Search"
            ng-show="selected.worklist.records.totalCount > pageSize || paging['record'].filter"
            type="text" ng-model="paging['record'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getRecords(selected.worklist)">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['record'].filter"
            ng-click="paging['record'].filter = ''; getRecords(selected.worklist)"
            title="Click to clear filter text">Clear</button>

        </span>

        <table
          ng-show="selected.worklist.records.totalCount > 0 || paging['record'].filter || paging['record'].typeFilter"
          class="table">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-1 col-xs-1">Cluster</th>
              <th class="col-md-1 col-xs-1"><select
                title="Filter by record status" style="width: 40px;"
                ng-model="paging['record'].typeFilter"
                ng-options="item for item in recordTypes"
                ng-change="getRecords(selected.worklist)">
                  <option value="">All</option>
              </select></th>
              <th class="col-md-2 col-xs-2">Concept Id</th>
              <th class="col-md-5 col-xs-5">Concept Name</th>
              <th class="col-md-2 col-xs-2">Last Modified</th>
            </tr>
          </thead>
          <tbody ng-repeat="record in selected.worklist.records">
            <tr>
              <td rowspan="3">{{record.clusterId}}</td>
              <td rowspan="3"><button class="btn btn-xs btn-danger"
                  ng-show="record.workflowStatus == 'NEEDS_REVIEW'"
                  uib-tooltip="Needs review">N</button>
                <button class="btn btn-xs btn-success"
                  ng-show="record.workflowStatus == 'READY_FOR_PUBLICATION'"
                  uib-tooltip="Ready for publication">R</button></td>
            </tr>
            <tr  ng-click="selectConcept(concept);"
              ng-class="{selected : concept.id == selected.concept.id}"
              ng-repeat="concept in record.concepts" 
              ng-style="{'color': concept.workflowStatus == 'NEEDS_REVIEW' ? 'red' : 'black'}">
              <td>
                {{concept.id}}
              </td>
              <td>
                {{concept.name}}
              </td>
              <td>
                {{toDate(record.concepts[0].lastModified)}}<br />{{record.concepts[0].lastModifiedBy}}
              </td> 
            </tr>
          </tbody>
        </table>
        <span
          ng-show="(paging['record'].filter || paging['record'].typeFilter) && selected.worklist.records.totalCount == 0"
          class="alert alert-warning">
          <br />No records matching filter
        </span>

      </div>
    </div>
    <!-- End R2C1 -->
  </div>

  <!-- R2C2 -->
  <div class="col-md-6 col-xs-12">
    <h4 ng-show="selected.concept">
        Concept Report
    </h4>
    <pre ng-show="selected.concept">
    {{selected.concept.report}}
    </pre>

    <!-- End R2C2 -->
  </div>

  <!-- End R2 -->
</div>
