
<!--  Semantic types -->
<div ng-show="pagedData.totalCount > 0 || paging.filter">
  <h4>{{metadata.semanticTypesLabel}} ({{pagedData.totalCount}})</h4>
  <div pager paging="paging" data="data" callbacks="callbacks"></div>
  <ul class="icon-list">
    <li class="cr-list" ng-repeat="item in pagedData.data"><span
        class="label label-warning"
        ng-show="metadata.terminology.metathesaurus && item.suppressible"
        uib-tooltip="{{metadata.suppressibleLabel}}">{{metadata.suppressibleIndicator}}</span>
      <span class="label label-default" ng-show="item.obsolete"
        uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
      {{item.semanticType}}</li>
  </ul>
</div>
<!--  end Semantic types -->