<!--  Semantic types -->
<div
	ng-show="pagedData.totalCount > 0 || paging.filter || callbacks.isEditingEnabled()">

	<div class="row" style="margin-bottom: 10px; margin-right: 0px;">
		<div class="col-md-10">
			<i style="float: left" class="noul glyphicon"
				ng-click="showing = !showing"
				ng-class="[{'glyphicon-chevron-down' : showing}, {'glyphicon-chevron-right' : !showing}]"></i>

			<h5 style="display: inline;">{{selected.metadata.semanticTypesLabel}}
				({{pagedData.totalCount}})</h5>
		</div>
		<div class="col-md-2">
			<span ng-show="callbacks.isEditingEnabled()"
				style="transform: scale(.8, .8);"
				class="btn btn-xs btn-primary  pull-right"
				ng-click="openAddSemanticTypesModal()">Add
				{{selected.metadata.semanticTypesLabel}} </span>
		</div>
	</div>

	<div ng-show="showing">
		<div pager paging="paging" data="data" callbacks="callbacks"></div>
		<ul class="icon-list">
			<li class="cr-list" ng-repeat="item in pagedData.data"><span
				style="float: right; margin-right: 25px"
				ng-show="callbacks.isEditingEnabled()"> <i
					confirm="Are you sure you want to remove this?"
					ng-click="removeSemanticType(item);" title="Delete"
					class="noul glyphicon glyphicon-trash"></i>
			</span><span class="label label-warning"
				ng-show="metadata.terminology.metathesaurus && item.suppressible"
				uib-tooltip="{{metadata.suppressibleLabel}}">{{metadata.suppressibleIndicator}}</span>
				<span class="label label-default" ng-show="item.obsolete"
				uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
				{{item.semanticType}}</li>
		</ul>
	</div>
</div>
<!--  end Semantic types -->