<!-- NOTE: Two types of trees consolidated to take advantage of common tree functions -->
<!-- Hierarchical Tree -->
<div ng-if="treeCount > 0">
  <i style="float: left" class="noul glyphicon" ng-click="showing = !showing"
    ng-class="[{'glyphicon-chevron-down' : showing}, {'glyphicon-chevron-right' : !showing}]"></i>
  <h5>
    {{metadata.hierarchiesLabel}}
    <span ng-show="treeCount > 1">
      (
      <i class="noul glyphicon glyphicon-step-backward"
        title="Previous tree position" ng-click="getTreeByOffset(-1)"></i>
      {{treeViewed+1}} of {{treeCount}}
      <i class="noul glyphicon glyphicon-step-forward"
        title="Next tree position" ng-click="getTreeByOffset(1)"></i>
      )
    </span>
  </h5>
  <div ng-show="showing" ui-tree>
    <ol ui-tree-nodes="" ng-model="componentTree" id="tree-root"
      data-nodrop-enabled="true">
      <li ng-repeat="tree in componentTree" ui-tree-node data-nodrag
        ng-include="'app/component/tree-component/componentTree_renderer.html'"></li>
    </ol>
  </div>
</div>

