
<!-- R1 -->
<div class="row">
  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <span style="float: right;">
      <!-- Import -->
      <i ng-show="type == 'Checklist'" ng-click="openImportModal(); "
        title="Import or compute checklist"
        class="noul glyphicon glyphicon-check"></i>
    </span>
    <div style="display: inline" pager paging="paging['worklists']"
      count="worklists.totalCount" callbacks="paging['worklists'].callbacks">
    </div>

    <!-- Basic Worklist info -->
    <span ng-show="worklists.totalCount == 0" style="display: block;"
      class="alert alert-warning">No worklists.</span>

    <table ng-show="worklists.totalCount > 0" class="table">

      <!-- Worklist header -->
      <thead ng-show="type === 'Worklist'" class="pointer">
        <tr>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','name')">
              Name
              <span ng-bind="getSortIndicator('worklists','name')"></span>
            </span> / <span ng-click="setSortField('worklists','lastModified')">
              Last Modified
              <span ng-bind="getSortIndicator('worklists','lastModified')"></span>
            </span></th>
          <th class="col-md-3 col-xs-3"><span
              ng-click="setSortField('worklists', worklist.reviewers ? 'reviewers' : 'authors')">
              Editor
              <span
                ng-bind="getSortIndicator('worklists',worklist.reviewers ? 'reviewers' : 'authors')"></span>
            </span> / <span ng-click="setSortField('worklists','team')">
              Team
              <span ng-bind="getSortIndicator('worklists','team')"></span>
            </span>
          <th ng-show="type == 'Worklist'" class="col-md-2 col-xs-2"><span
              ng-click="setSortField('worklists','worklistState')">
              State
              <span ng-bind="getSortIndicator('worklists','worklistState')"></span>
            </span></th>

          <!-- Actions header -->
          <th class="col-md-2 col-xs-2"">Actions</th>
        </tr>
      </thead>

      <!-- Checklist header -->
      <thead ng-show="type === 'Checklist'" class="pointer">
        <tr>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','name')">
              Name
              <span ng-bind="getSortIndicator('worklists','name')"></span>
            </span></th>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','lastModified')">
              LastModified
              <span ng-bind="getSortIndicator('worklists','lastModified')"></span>
            </span></th>

          <!-- Actions header -->
          <th class="col-md-2 col-xs-2"">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="worklist in worklists"
          ng-click="selectWorklist(worklist);"
          ng-class="{selected: worklist.id == selected.worklist.id}">

          <td>
            {{worklist.name}}
            <span ng-show="type == 'Worklist'">
              <br />{{toDate(worklist.lastModified)}}
            </span>
          </td>

          <td ng-show="type == 'Checklist'">
            {{toDate(worklist.lastModified)}}</td>

          <td ng-show="type == 'Worklist'">
            <span style="word-break: break-word;">
              {{joinEditors(worklist)}}</span>
            <br />
            <span> {{worklist.team}} </span>
          </td>

          <td ng-show="type == 'Worklist'">{{getWorkflowState(worklist)}}</td>

          <!--  actions -->

          <td class="nobreak">
            <i title="Remove" ng-show="!worklist.staged"
              confirm="Are you sure you want to remove the worklist ({{worklist.name}})?"
              ng-click="removeWorklist(worklist); $event.stopPropagation()"
              class="noul glyphicon glyphicon-trash"></i>

            <i
              ng-show="selected.projectRole != 'AUTHOR' && type == 'Worklist' && (worklist.authorAvailable || worklist.reviewerAvailable)"
              ng-click="openAssignWorklistModal(worklist,'ASSIGN');"
              title="Assign worklist"
              class="noul glyphicon glyphicon-hand-right"></i>

            <span
              ng-show="selected.projectRole != 'AUTHOR' && type == 'Worklist' && worklist.authors.length > 0 && !worklist.reviewerAvailable && worklist.reviewers.length==0">
              <i confirm="Are you sure you want to unassign the worklist?"
                ng-repeat="author in worklist.authors"
                ng-click="unassignWorklist(worklist, author); "
                title="Unassign worklist from {{author}}"
                class="noul glyphicon glyphicon-hand-left"></i>
            </span>

            <span
              ng-show="selected.projectRole != 'AUTHOR' && type == 'Worklist' && worklist.reviewers.length > 0 && !worklist.reviewerAvailable && !worklist.workflowStatus =='READY_FOR_PUBLICATION'">
              <i confirm="Are you sure you want to unassign the worklist?"
                ng-repeat="author in worklist.authors"
                ng-click="unassignWorklist(worklist, author); "
                title="Unassign worklist from {{author}}"
                class="noul glyphicon glyphicon-hand-left"></i>
            </span>

            <span>
              <i confirm="Are you sure you want to stamp the {{type}}?"
                ng-click="stamp(worklist); "
                title="Stamp {{type}}"
                class="noul glyphicon glyphicon-certificate"></i>
            </span>
            
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Details, Releases, Records -->
    <span ng-show="!selected.worklist && worklists.length > 0"
      class="alert alert-warning">Select a worklist to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.worklist">

      <!-- Worklist Details -->
      <h4>{{selected.worklist.name}}</h4>
      <table class="table">
        <tbody>

          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.worklist.description}}</td>
          </tr>

          <tr>
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.worklist.notes.length > 0" class="truncate">
                <span ng-bind-html="getLatestNote(selected.worklist)"></span>
                <span ng-show="selected.worklist.notes.length > 1">
                  <br /> <small>... more notes ...</small>
                </span>
              </div>
              <div notes selected="selected" type="{{type}}">
            </td>
          </tr>
          <tr>
            <td>
              <b>Log</b>
            </td>
            <td>
              <div log selected="selected" type="{{type}}"></div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Export</b>
            </td>
            <td>
              <!-- Export -->
              <i ng-click="exportList(selected.worklist);"
                title="Export {{type}}" class="noul glyphicon glyphicon-download"></i>
            </td>
          </tr>
          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Workflow Bin</b>
            </td>
            <td>{{selected.worklist.workflowBinName}}</td>
          </tr>


          <tr ng-show="type == 'Worklist' && selected.worklist.authorTime">
            <td>
              <b>Authoring Time</b>
            </td>
            <td>{{toTime(selected.worklist.authorTime)}}</td>
          </tr>

          <tr ng-show="type == 'Worklist' && selected.worklist.reviewerTime">
            <td>
              <b>Reviewer Time</b>
            </td>
            <td>{{toTime(selected.worklist.reviewerTime)}}</td>
          </tr>

          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Workflow Status</b>
            </td>
            <td>{{selected.worklist.workflowStatus}}</td>
          </tr>

          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Author(s)</b>
            </td>
            <td>
              <span ng-show="selected.worklist.authors.length>0"
                ng-repeat="author in selected.worklist.authors">{{author}}</span>
              <span ng-show="selected.worklist.authorAvailable">Available
                for assignment to author</span>
            </td>
          </tr>

          <tr
            ng-show="type == 'Worklist' && selected.worklist.reviewers.length > 0">
            <td>
              <b>Reviewer(s)</b>
            </td>
            <td>
              <span ng-show="selected.worklist.reviewers.length>0"
                ng-repeat="reviewer in selected.worklist.reviewers">{{reviewer}}</span>
              <span ng-show="selected.worklist.reviewerAvailable">Available
                for assignment to reviewer</span>
            </td>
          </tr>

          <tr>
            <td>
              <b>Cluster/Concept Counts</b>
            </td>
            <td>{{selected.worklist.stats.clusterCt}}/{{selected.worklist.stats.conceptCt}}</td>
          </tr>

          <tr
            ng-repeat="state in stateHistory">
            <td>
              <b>{{state.name}} date:</b>
            </td>
            <td>{{toDate(state.timestamp)}}</td>
          </tr>

          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Concept Reports</b>
            </td>
            <td>
              <span ng-show="worklistReport && !reportRefresh">
                <a ng-click="getGeneratedConceptReport()">{{worklistReport}}</a>
                &nbsp;
                <i ng-click="removeGeneratedConceptReport(selected.worklist);"
                  title="Remove report" class="noul glyphicon glyphicon-trash"></i>
              </span>
              <span ng-show="!worklistReport && reportRefresh">
                <i ng-click="findGeneratedReports();"
                  title="Refresh concept report generation status"
                  class="noul glyphicon glyphicon-refresh"></i>
                ...Generating...
              </span>
              <span ng-show="!worklistReport && !reportRefresh">
                <button ng-click="generateConceptReport(selected.worklist);"
                  title="Generate concept report" class="btn btn-xs btn-primary">Generate
                  Report</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- End R1C2 -->
  </div>

  <!-- End R1 -->
</div>

<hr ng-show="selected.worklist">
<!-- Bin Records Table -->
<div ng-show="selected.worklist" records-table selected="selected" lists="lists"
  user="user" paging="paging['records']"></div>

