
<!-- R1 -->
<div class="row">
  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">
    <span style="float: right;">
      <!-- Import -->
      <i ng-show="type == 'Checklist' && hasPermissions('ImportChecklist')"
        ng-click="openImportModal(); " title="Import or compute checklist"
        class="noul glyphicon glyphicon-check"></i>
    </span>
    <div style="display: inline" pager paging="paging['worklists']"
      count="worklists.totalCount" callbacks="paging['worklists'].callbacks">
    </div>
    <!-- Basic Worklist info -->
    <span ng-show="worklists.totalCount == 0" style="display: block;"
      class="alert alert-warning">No worklists.</span>
    <table ng-show="worklists.totalCount > 0" class="slim table">
      <!-- Worklist header -->
      <thead ng-show="type === 'Worklist'" class="pointer">
        <tr>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','name')">
              Name
              <span ng-bind="getSortIndicator('worklists','name')"></span>
            </span> / <span ng-click="setSortField('worklists','lastModified')">
              Last Modified
              <span ng-bind="getSortIndicator('worklists','lastModified')"></span>
            </span></th>
          <th class="col-md-3 col-xs-3"><span
              ng-click="setSortField('worklists', worklist.reviewers ? 'reviewers' : 'authors')">
              Editor
              <span
                ng-bind="getSortIndicator('worklists',worklist.reviewers ? 'reviewers' : 'authors')"></span>
            </span> / <span ng-click="setSortField('worklists','team')">
              Team
              <span ng-bind="getSortIndicator('worklists','team')"></span>
            </span>
          <th ng-show="type == 'Worklist'" class="col-md-2 col-xs-2"><span
              ng-click="setSortField('worklists','workflowState')">
              State
              <span ng-bind="getSortIndicator('worklists','workflowState')"></span>
            </span></th>
          <!-- Actions header -->
          <th class="col-md-2 col-xs-2">Actions</th>
        </tr>
      </thead>
      <!-- Checklist header -->
      <thead ng-show="type === 'Checklist'" class="pointer">
        <tr>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','name')">
              Name
              <span ng-bind="getSortIndicator('worklists','name')"></span>
            </span></th>
          <th class="col-md-5 col-xs-5"><span
              ng-click="setSortField('worklists','lastModified')">
              LastModified
              <span ng-bind="getSortIndicator('worklists','lastModified')"></span>
            </span></th>
          <!-- Actions header -->
          <th class="col-md-2 col-xs-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="worklist in worklists"
          ng-click="selectWorklist(worklist);"
          ng-class="{selected: worklist.id == selectedWorklist.id}"
          class="pointer">
          <td>
            {{worklist.name}}
            <span ng-show="type == 'Worklist'">
              <br />{{toDate(worklist.lastModified)}}
            </span>
          </td>
          <td ng-show="type == 'Checklist'">
            {{toDate(worklist.lastModified)}}</td>
          <td ng-show="type == 'Worklist'">
            <span style="word-break: break-word;">
              {{joinEditors(worklist)}}</span>
            <br />
            <span> {{worklist.team}} </span>
          </td>
          <td ng-show="type == 'Worklist'">{{getWorkflowState(worklist)}}</td>
          <!--  actions -->
          <td class="nobreak">
            <i title="Remove"
              ng-show="!worklist.staged && hasPermissions('RemoveWorklist')"
              confirm="Are you sure you want to remove the worklist ({{worklist.name}})?"
              ng-click="removeWorklist(worklist); $event.stopPropagation()"
              class="noul glyphicon glyphicon-trash"></i>
            <i
              ng-show="hasPermissions('AssignWorklist') 
                && type == 'Worklist' && (worklist.authorAvailable || worklist.reviewerAvailable)"
              ng-click="openAssignWorklistModal(worklist,'ASSIGN');"
              title="Assign worklist"
              class="noul glyphicon glyphicon-hand-right"></i>
            <span
              ng-show="hasPermissions('UnassignWorklist') && type == 'Worklist' && worklist.authors.length > 0 && !worklist.reviewerAvailable && worklist.reviewers.length==0">
              <i ng-repeat="author in worklist.authors"
                ng-click="unassignWorklist(worklist, author); "
                title="Unassign worklist from {{author}}"
                class="noul glyphicon glyphicon-hand-left"></i>
            </span>
            <span
              ng-show="hasPermissions('UnassignWorklist') && type == 'Worklist' && worklist.reviewers.length > 0 && !worklist.reviewerAvailable && !worklist.workflowStatus =='READY_FOR_PUBLICATION'">
              <i ng-repeat="author in worklist.authors"
                ng-click="unassignWorklist(worklist, author); "
                title="Unassign worklist from {{author}}"
                class="noul glyphicon glyphicon-hand-left"></i>
            </span>
            <span ng-show="hasPermissions('Stamp') && type == 'Checklist'">
              <i confirm="Are you sure you want to stamp the {{type}}?"
                ng-click="stamp(worklist, true); " title="Stamp {{type}}"
                class="noul glyphicon glyphicon-certificate"></i>
            </span>
            <!-- Removed Unapprove - currently unrequired, unrequested feature.
            <span ng-show="hasPermissions('Unapprove')">
              <i confirm="Are you sure you want to unapprove the {{type}}?"
                ng-click="stamp(worklist, false); " title="Unapprove {{type}}"
                class="noul glyphicon glyphicon-remove-circle"></i>
            </span>
           -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End R1C1 -->
  </div>
  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">
    <!-- Details, Releases, Records -->
    <span ng-show="!selectedWorklist && worklists.length > 0"
      class="alert alert-warning">Select a worklist to see details</span>
    <div class="col-md-12 col-xs-12" ng-show="selectedWorklist">
      <!-- Worklist Details -->
      <h4>{{selectedWorklist.name}}</h4>
      <table class="slim table">
        <tbody>
          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selectedWorklist.description}} {{selectedWorklist.id}}</td>
          </tr>
          <tr>
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selectedWorklist.notes.length > 0" class="truncate">
                <span ng-bind-html="getLatestNote(selectedWorklist)"></span>
                <span ng-show="selectedWorklist.notes.length > 1">
                  <br /> <small>... more notes ...</small>
                </span>
              </div>
              <div notes selected="{worklist : selectedWorklist, project : selected.project}" type="{{type}}"></div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Log</b>
            </td>
            <td>
              <div log selected="{worklist : selectedWorklist, project : selected.project}" type="{{type}}"></div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Export</b>
            </td>
            <td>
              <!-- Export -->
              <i ng-click="exportList(selectedWorklist);"
                title="Export {{type}}"
                class="noul glyphicon glyphicon-download"></i>
            </td>
          </tr>
          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Concept Reports</b>
            </td>
            <td>
              <span ng-show="worklistReport && !reportRefresh">
                <a ng-click="getGeneratedConceptReport()" class="pointer">{{worklistReport}}</a>
                &nbsp;
                <i ng-click="removeGeneratedConceptReport(selectedWorklist);"
                  title="Remove report" class="noul glyphicon glyphicon-trash"></i>
              </span>
              <span ng-show="!worklistReport && reportRefresh">
                <i ng-click="findGeneratedReports();"
                  title="Refresh concept report generation status"
                  class="noul glyphicon glyphicon-refresh"></i>
                ...Generating...
              </span>
              <span
                ng-show="!worklistReport && !reportRefresh && hasPermissions('GenerateReport')">
                <button ng-click="generateConceptReport(selectedWorklist);"
                  title="Generate concept report" class="btn btn-xs btn-primary">Generate
                  Report</button>
              </span>
            </td>
          </tr>
          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Workflow Bin</b>
            </td>
            <td>{{selectedWorklist.workflowBinName}}</td>
          </tr>
          <tr ng-show="type == 'Worklist' && selectedWorklist.authorTime">
            <td>
              <b>Authoring Time</b>
            </td>
            <td>{{toTime(selectedWorklist.authorTime)}}</td>
          </tr>
          <tr ng-show="type == 'Worklist' && selectedWorklist.reviewerTime">
            <td>
              <b>Reviewer Time</b>
            </td>
            <td>{{toTime(selectedWorklist.reviewerTime)}}</td>
          </tr>
          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Workflow Status</b>
            </td>
            <td>{{selectedWorklist.workflowStatus}}</td>
          </tr>
          <tr ng-show="type == 'Worklist'">
            <td>
              <b>Author(s)</b>
            </td>
            <td>
              <span ng-show="selectedWorklist.authors.length>0"
                ng-repeat="author in selectedWorklist.authors">{{author}}</span>
              <span ng-show="selectedWorklist.authorAvailable">Available
                for assignment to author</span>
            </td>
          </tr>
          <tr
            ng-show="type == 'Worklist' && selectedWorklist.reviewers.length > 0">
            <td>
              <b>Reviewer(s)</b>
            </td>
            <td>
              <span ng-show="selectedWorklist.reviewers.length>0"
                ng-repeat="reviewer in selectedWorklist.reviewers">{{reviewer}}</span>
              <span ng-show="selectedWorklist.reviewerAvailable">Available
                for assignment to reviewer</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Cluster/Concept Counts</b>
            </td>
            <td>{{selectedWorklist.stats.clusterCt}}/{{selectedWorklist.stats.conceptCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Approved Count</b>
            </td>
            <td>{{selectedWorklist.stats.approveCt}}</td>
          </tr>
          <tr ng-show="selectedWorklist.stats.approveByEditorCt">
            <td>
              <b>Approved by Editors Count</b>
            </td>
            <td>{{selectedWorklist.stats.approveByEditorCt}}</td>
          </tr>
          <tr ng-show="selectedWorklist.stats.stampedCt">
            <td>
              <b>Stamped Count</b>
            </td>
            <td>{{selectedWorklist.stats.stampedCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Rels Inserted Count</b>
            </td>
            <td>{{selectedWorklist.stats.relsInsertedCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Stys Inserted Count</b>
            </td>
            <td>{{selectedWorklist.stats.stysInsertedCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Splits Count</b>
            </td>
            <td>{{selectedWorklist.stats.splitsCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Merge Count</b>
            </td>
            <td>{{selectedWorklist.stats.mergeCt}}</td>
          </tr>
          <tr>
            <td>
              <b>Not Stamped Count</b>
            </td>
            <td>{{selectedWorklist.stats.notStampedCt}}</td>
          </tr>
          <tr ng-repeat="state in stateHistory">
            <td>
              <b>{{state.name}} date</b>
            </td>
            <td>{{toDate(state.timestamp)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End R1C2 -->
  </div>
  <!-- End R1 -->
</div>
<hr ng-show="selectedWorklist">
<!-- Bin Records Table -->
<div ng-show="selectedWorklist" records-table selected="selected" lists="lists"
  user="user" paging="paging['records']"></div>
