
<!-- Mappings -->
<div>
  <button ng-click="pageCallback.getPagedList()">Test</button>
  <h4>{{metadata.mappingsLabel}} ({{pagedMappings.totalCount}})</h4>
  <div pager paging="paging" count="pagedData.totalCount"
    callback="pageCallback"></div>
  <ul class="icon-list">
    <li class="cr-list" ng-repeat="item in pagedData"><span
        ng-show="item.group > 0">
        <span class="label label-success"
          uib-tooltip="Mapping group {{item.group}}">{{item.group}}</span>
        &nbsp;
      </span> <span class="label label-warning"
        ng-show="metadata.terminology.metathesaurus && item.suppressible"
        uib-tooltip="{{metadata.suppressibleLabel}}">{{metadata.suppressibleIndicator}}</span>
      <span class="label label-default" ng-show="item.obsolete"
        uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
      <span class="label label-info"
        uib-tooltip="{{getRelationshipTypeName(item.relationshipType,metadata)}}">{{item.relationshipType}}</span>
      {{item.additionalRelationshipType}} <!-- Mobile friendly switch --> <span
        class="hidden-xs">
        <a
          ng-click="getComponent({{componentType, item.toTerminologyId, item.toTerminology, component.version)"
          uib-tooltip="{{item.toTerminology}} {{componentType | lowercase}}">{{item.toTerminologyId}}</a>
        {{item.toName}}
      </span> <span class="visible-xs-inline">
        <a
          ng-click="getComponent(componentType, item.toTerminologyId, item.toTerminology, component.version)"
          uib-tooltip="{{item.toTerminology}} {{terminology.organizingClassType | lowercase}}">{{item.toName}}</a>
      </span></li>
  </ul>
</div>
<!-- end Mappings -->