
<!-- Mappings -->
<div ng-show="pagedMappings.totalCount > 0 || paging.filter">
  <h5 class="ml10">{{metadata.mappingsLabel}}</h5>
  <div pager paging="paging" count="pagedMappings.totalCount"
    callbacks="pageCallbacks"></div>
  <div ng-repeat="mapSet in mapSets">
    <h6>{{mapSet.name}}</h6>
    <ul class="icon-list">
      <li class="cr-list" ng-repeat="item in mapSets[mapSet.id]"><span
          ng-show="item.group > 0">
          <span class="label label-success"
            uib-tooltip="Mapping group {{item.group}}">{{item.group}}</span>
          &nbsp;
          <span class="label label-success"
            uib-tooltip="Mapping rank {{item.rank}}">{{item.rank}}</span>
        </span> &nbsp; <span class="label label-default" ng-show="item.obsolete"
          uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
        <span class="label label-info"
          uib-tooltip="{{getRelationshipTypeName(item.relationshipType,metadata)}}">{{item.relationshipType}}</span>
        {{item.additionalRelationshipType}} <!-- Mobile friendly switch --> <span
          class="hidden-xs">
          <a
            ng-click="getComponent({ type: componentType, terminologyId: item.toTerminologyId, terminology: item.toTerminology, 
          version: component.version})"
            uib-tooltip="{{item.toTerminology}} {{componentType | lowercase}}">{{item.toTerminologyId}}</a>
          {{item.toName}}
        </span> <span class="visible-xs-inline">
          <a
            ng-click="getComponent({type: componentType, terminologyId: item.toTerminologyId, terminology: item.toTerminology, version: component.version})"
            uib-tooltip="{{item.toTerminology}} {{terminology.organizingClassType | lowercase}}">{{item.toName}}</a>
        </span></li>
    </ul>
  </div>
</div>
<!-- end Mappings -->