<html ng-app="tsApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Terminology Server Demo</title>
<style type="text/css" media="all"></style>
<!-- Favicon -->
<link rel="icon" type="image/png" href="images/favicon.png" />

<!-- Bootstrap CSS  -->
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Material Design Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

<!-- Angular core and standard plugins -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>

<!-- Angular ngRoute -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

<!-- Angular animate -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>

<!-- Angular/Boostrap UI -->
<script type="text/javascript"
  src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.0.min.js"></script>

<!-- Angular UI Tree -->
<script type="text/javascript"
  src="ui/components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<link rel="stylesheet"
  href="ui/components/angular-ui-tree/dist/angular-ui-tree.min.css">

<!--  TinyMCE rich text formatter -->
<script type="text/javascript" src="ui/components/tinymce/tinymce.min.js"></script>
<script type="text/javascript"
  src="ui/components/angular-ui-tinymce/src/tinymce.js"></script>


<!-- UTS Application style overrides -->
<link href="css/tsApp.css" rel="stylesheet">

<!-- UTS Angular application -->
<script src="app/app.js"></script>

<!-- UTS services -->
<script src="app/util/general/services.js"></script>
<script src="app/util/general/tabService.js"></script>
<script src="app/util/general/tabController.js"></script>
<script src="app/util/highlight/highlightFilters.js"></script>
<script src="app/util/metadata/metadataService.js"></script>
<script src="app/util/project/projectService.js"></script>
<script src="app/util/content/contentService.js"></script>
<script src="app/util/validation/validationService.js"></script>

<!-- UTS page elements and controllers -->
<script src="app/page/header/header.js"></script>
<script src="app/page/footer/footer.js"></script>
<script src="app/page/landing/landing.js"></script>
<script src="app/page/login/loginController.js"></script>
<script src="app/page/metadata/metadataController.js"></script>
<script src="app/page/content/contentController.js"></script>
<script src="app/page/admin/adminController.js"></script>

<!-- UTS Component Report Directives -->
<script src="app/component/report/report.js"></script>
<script src="app/component/semantic-types/semanticTypes.js"></script>
<script src="app/component/definitions/definitions.js"></script>
<script src="app/component/atoms/atoms.js"></script>
<script src="app/component/attributes/attributes.js"></script>
<script src="app/component/subsets/subsets.js"></script>
<script src="app/component/relationships/relationships.js"></script>
<script src="app/component/relationships-deep/relationshipsDeep.js"></script>
<script src="app/component/tree-component/treeComponent.js"></script>
<script src="app/component/mappings/mappings.js"></script>

<!-- UTS utilities and misc directives -->
<script src="app/util/pager/pager.js"></script>
<script src="app/util/tree-search-result/treeSearchResult.js"></script>

</head>
<body>
  <!--  Javascript detection -->
  <noscript>
    <div class="alert alert-danger">You must have Javascript enabled to
      use the Terminology Server Demo</div>
  </noscript>

  <!-- Header -->
  <div header></div>
  <a id="top"></a>

  <!-- Blank for header -->

  <div class="container-fluid">
    <!-- Show global error message -->
    <div ng-include src="'app/page/general/error.html'"></div>
    <ul ng-show="isShowing()" class="nav nav-tabs" ng-controller="TabCtrl">
      <li ng-show="isTabShowing(tab)" ng-class="tabClass(tab)"
        ng-repeat="tab in tabs"><a ng-click="setSelectedTab(tab)">
          {{tab.label}} </a></li>
    </ul>
    <!-- Body -->
    <div ng-view=""></div>
  </div>

  <!-- Footer -->
  <div footer></div>

  <!-- Glass Pane -->
  <div ng-controller="GlassPaneCtrl" ng-show="glassPane.counter > 0"
    class="top-layer"></div>

  <!-- Analytics -->
  ${site.tracking.code}
</body>
</html>
