<html ng-app="tsApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SNOMED/RF2 Terminology Server Demo</title>
<style type="text/css" media="all"></style>

<!-- Favicon -->
<link rel="icon" type="image/png" href="images/favicon.png" />

<!-- Bootstrap core CSS  -->
<link href="ui/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<!-- Angular core  -->
<script type="text/javascript" src="./ui/components/angular/angular.js"></script>

<!-- Angular/Boostrap UI Components -->
<script type="text/javascript"
  src="ui/components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript"
  src="ui/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Terminology server Angular application -->
<script src="ui/js/app.js"></script>
<link href="ui/css/tsApp.css" rel="stylesheet">
</head>
<body>

  <div ng-controller="tsIndexCtrl">

    <!--  Javascript detection -->
    <noscript>
      <style type="text/css">
.container {
	display: none;
}
</style>
      <div class="alert alert-danger">You must have Javascript enabled to
        use the Terminology Server Demo</div>
    </noscript>


    <!--  header -->

    <nav style="background: #00008A url('images/background.jpg');"
      class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div>
          <a href="http://www.westcoastinformatics.com"> <img
            style="background-color: white; border: 3px solid white; border-radius: 5px; margin-left: 58px; margin-top: 14px;"
            class="pull-left" src="images/logo.jpg"> <b
            class="navbar-brand" style="color: white; margin-top: 60px;"></a>
          &nbsp;SNOMED/RF2 Terminology Server Demo and <a href="swagger.html"
            style="color: white; text-decoration: underline" target="_blank">API
            Documentation</a> </b>

        </div>
      </div>
    </nav>


    <div class="ts-container" style="margin-top: 50px">

      <!-- Error Messages -->
      <div id="errorMsg" class="border-error alert-error"
        ng-show="error.length > 0">
        <h4 class="alert alert-danger alert-error">
          {{error}}
          <div style="display: inline; float: right; width: 3%;">
            <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
          </div>
        </h4>
      </div>

      <!-- Login form -->
      <div ng-show="authToken == null">
        <div>
          <div class="ts-panel">
            <strong>Enter User and Password</strong><br>
            <form>
              <input style="margin-top: 5px;" id="userField" ng-model="userName"
                type="text" placeholder="Username" /><br> <input
                style="margin-top: 5px;" id="passwordField" type="password"
                placeholder="Password" ng-model="password" /><br>
              <button style="margin-top: 10px;" id="userLoginButton"
                type="submit" ng-click="login(userName, password)">Login</button>
              <p style="margin-top: 5px">
                <a
                  href="https://uts.nlm.nih.gov/license.html#emailTemporaryPassword">Forgot
                  Password?</a>
              </p>
              <p style="margin-top: 25px; max-width: 500px">This
                demonstration app is loaded with data from two terminologies.</p>
              <ul>
                <li>ICD9CM, 2013</li>
                <li>SNOMEDCT, 20140731 (mini edition)</li>
              </ul>
              <p style="max-width: 400px">The mini version of SNOMED
                contains about 10K concepts. Due to the use of IP restricted
                content, we require users to authenticate with an NLM UTS
                account to ensure they have agreed to the UMLS License. We are a
                UMLS authorized content distributor.</p>
              <p style="max-width: 400px">
                To obtain a UTS account, visit <a href="http://uts.nlm.nih.gov">http://uts.nlm.nih.gov</a>
              </p>
              <p style="max-width: 400px">
                Disclaimer: this is not an official <a
                  href="http://www.ihtsdo.org">IHTSDO</a> site.
              </p>
              <p>
                For complete documentation, see the <a
                  href="http://wiki.terminology.tools/confluence/display/TS/TermServer+Home">SNOMED/RF2
                  Terminology Server wiki</a>.
            </form>
          </div>


        </div>

      </div>

      <!-- Content displayed after log in -->
      <div ng-show="authToken != null">

        <tabset> <tab heading="Concepts">

        <table class="table">

          <tr>
            <td>Select terminology</td>
            <td><select ng-model="terminology"
              ng-change="setTerminology(terminology)"
              ng-options="terminology as terminology.name + ', ' + terminology.version
					for terminology in terminologies"></select>
            </td>
          <tr>
            <td style="width: 15%;">Enter search terms</td>
            <td><form>
                <input ng-model="conceptQuery">
                <button class="btn btn-small btn-primary" type="submit"
                  ng-click="findConcepts(terminology, conceptQuery)">Search</button>
                <button class="btn btn-small btn-warning" type="cancel"
                  ng-click="conceptQuery = null">Clear</button>
                <br> <em>Searchable terms include concept names, e.g.
                  ossification, and concept ids, e.g. 728.1 (for ICD9CM),
                  102276005 (for SNOMEDCT)</em></td>

            </form>
          </tr>
        </table>



        <!--  Side-by-side table and concept display -->
        <div class="container-fluid"">

          <div class="row">
            <div class="col-md-3">

              <div class="alert alert-success"
                ng-show="searchResults.length > 0">
                {{searchResults.length}} Results (Click a row for details)</div>


              <div class="alert alert-danger"
                ng-show="searchResults.length == 0">Search returned no
                results.</div>

              <table class="table table-hover"
                ng-show="searchResults.length > 0">

                <tbody>
                  <tr
                    ng-repeat="
								searchResult in
								searchResults"
                    ng-class="searchResult.rowClass"
                    ng-click="getConcept(terminology.name, terminology.version, searchResult.terminologyId)">
                    <td>{{searchResult.terminologyId}}</a></td>
                    <td>{{searchResult.value}}</td>
                </tbody>
              </table>
            </div>

            <div class="col-md-2" ng-show="component != null"
              style="border-left: 1px solid #d9edf7; border-right: 1px solid #d9edf7;">

              <div class="dropdown alert alert-info">
                <div class="dropdown-toggle">
                  View: {{navSelected}} <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                  <li><a ng-click="navSelected = 'Structure'">Structure</a></li>
                  <li><a ng-click="navSelected = 'Parents'">Parents
                      ({{parentConcepts.length}})</a></li>
                  <li><a ng-click="navSelected = 'Children'">Children
                      ({{childConcepts.length}})</a></li>
                </ul>
              </div>
              <!-- 

              <div class="alert alert-info">Select View</div>
              <button class="btn btn-sm btn-primary btn-structure"
                ng-disabled="navSelected === 'Structure'"
                ng-click="navSelected = 'Structure'">Structure</button>
              <button class="btn btn-sm btn-primary btn-structure"
                ng-disabled="navSelected === 'Parents'"
                ng-click="navSelected = 'Parents'">Parents
                ({{parentConcepts.length}})</button>
              <button class="btn btn-sm btn-primary btn-structure"
                ng-disabled="navSelected === 'Children'"
                ng-click="navSelected = 'Children'">Children
                ({{childConcepts.length}})</button>

              <div style="margin-top: 15px;" class="alert alert-info">View:
                {{navSelected}}</div> -->

              <!-- View: Structure -->
              <div ng-show="navSelected === 'Structure'">
                <div style="">
                  <button class="btn btn-sm btn-primary btn-structure"
                    ng-click="setComponent(concept, 'Concept')"
                    ng-disabled="concept.viewed">Concept</button>
                </div>
                <div style="margin-left: 15px;"
                  ng-repeat="description in concept.description">
                  <button class="btn btn-sm btn-primary btn-structure"
                    ng-disabled="description.viewed"
                    ng-click="setComponent(description, 'Description')">Description</button>
                  <div style="margin-left: 15px;"
                    ng-repeat="language in description.language">
                    <button class="btn btn-sm btn-primary btn-structure"
                      ng-disabled="language.viewed"
                      ng-click="setComponent(language, 'Language Ref Set Member')">Language</button>
                  </div>
                </div>
                <div style="margin-left: 15px;"
                  ng-repeat="relationship in concept.relationship">
                  <button class="btn btn-sm btn-primary btn-structure"
                    ng-disabled="relationship.viewed"
                    ng-click="setComponent(relationship, 'Relationship')">Relationship</button>
                </div>
              </div>

              <!--  View: Parents -->
              <div ng-show="navSelected === 'Parents'">
                <div ng-show="parentConcepts.length == 0"
                  class="alert alert-warning">No parents</div>
                <button class="btn btn-sm btn-primary btn-structure"
                  ng-repeat="parentConcept in parentConcepts | orderBy:'terminologyId'"
                  ng-click="getConcept(parentConcept.terminology, parentConcept.terminologyVersion, parentConcept.terminologyId)"
                  tooltip-placement="right"
                  tooltip="{{parentConcept.defaultPreferredName}}">{{parentConcept.terminologyId}}</button>

              </div>

              <!--  View: Children -->
              <div ng-show="navSelected === 'Children'">
                <div ng-show="childConcepts.length == 0"
                  class="alert alert-warning">No children</div>
                <button class="btn btn-sm btn-primary btn-structure"
                  ng-repeat="childConcept in childConcepts | orderBy:'terminologyId'"
                  ng-click="getConcept(childConcept.terminology, childConcept.terminologyVersion, childConcept.terminologyId)"
                  tooltip-placement="right"
                  tooltip="{{childConcept.defaultPreferredName}}">{{childConcept.terminologyId}}</button>
              </div>
            </div>





            <div class="col-md-7" ng-show="component != null">
              <div class="alert alert-info">Viewing {{componentType}}
                {{component.terminologyId}}</div>

              <div component object="component" type="{{componentType}}"></div>
              <!-- 
						<div component object="concept" type="Concept"></div>
						<div component ng-repeat="description in concept.description"
							object="description" type="Description"></div>
						<div component ng-repeat="relationship in concept.relationship"
							object="relationship" type="Relationship"></div>
 -->
            </div>
          </div>
        </div>


        </tab> <tab heading="Metadata">

        <table class="table">

          <tr>
            <td style="width: 15%;">Select terminology</td>
            <td><select ng-model="terminology"
              ng-change="setTerminology(terminology)"
              ng-options="terminology as terminology.name + ', ' + terminology.version
          for terminology in terminologies"></select>
            </td>
          </tr>

        </table>
        <div class="container-fluid"">

          <div class="row">
            <div class="col-md-12">



              <h3>Metadata</h3>
              <table class="table table-compact"">
                <thead>
                  <th style="width: 15%;">Metadata Type</th>
                  <th>Id, Value</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in metadata"
                    ng-show="item.keyValuePair.length > 0">
                    <td>{{item.name}}</td>
                    <td><table>
                        <tr ng-repeat="pair in item.keyValuePair">
                          <td style="padding-right: 15px;">{{pair.key}}</td>
                          <td>{{pair.value}}</td>
                        </tr>
                      </table>
                </tbody>
              </table>

            </div>
          </div>
        </tab> </tabset>
      </div>
    </div>
  </div>

  <nav style="background-color: #ffffff"
    class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li><p class="navbar-text">
              <a class="navbar-link" href="${deploy.footer.link}">Copyright
                @2015</a>
            </p></li>
          <li>
            <button class="btn btn-sm btn-primary btn-structure"
              style="margin-top: 10px" ng-click="logout()"
              ng-show="authToken != null">Logout</button>
          </li>
          <li>&nbsp;<p class="navbar-text">${project.version}</p></li>
          <li>
            <div style="text-align: center; padding: 5px; margin: 0 0 0 0;"
              class="alert alert-danger" ng-show="glassPane < 0">
              The Glass Pane activity indicator may not be functioning
              correctly.<br>Please send a screenshot to an administrator.
              (GPC: {{glassPane}})
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              Presented by <a href="http://www.westcoastinformatics.com">West
                Coast Informatics, LLC</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Glass Pane -->
  <div ng-show="glassPane > 0" class="top-layer"></div>
</body>
</html>
