<div class="modal-header">
  <h4 style="display: inline">{{action}}</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>

</div>

<div class="modal-body">
  <table class="slim table">
    <tr>
      <td class="col-md-3 col-xs-3">
        <b>Current Concept</b>
      </td>
      <td class="col-md-9 col-xs-9">
        <table class="slim table">
          <tbody>
            <tr>
              <td class="col-md-2 col-xs-2">{{selected.component.id}}</td>
              <td class="col-md-5 col-xs-5">{{selected.component.name}}</td>
              <td class="col-md-5 col-xs-5">
                <span ng-repeat='sty in selected.component.semanticTypes'>
                  {{sty.semanticType}}<br />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <b>Other Concept(s)</b>
      </td>
      <td>
        <table class="slim table">
          <tbody>
            <!-- <tr ng-repeat="concept in toConcepts"
              ng-click="selectToConcept(concept)"
              ng-class="{selected: concept.id == toConcept.id}">  -->
            <tr ng-repeat="concept in toConcepts">
              <td ng-click="toggleSelection(concept)">
              <input type="checkbox" title="Select/Deselect Concept"
                    ng-checked="isRowSelected(concept)" value="{{selectedToConcepts[concept.id]}}" ></input>
              </td>
              <td class="col-md-2 col-xs-2">{{concept.id}}</td>
              <td class="col-md-5 col-xs-5">{{concept.name}}</td>
              <td class="col-md-5 col-xs-5">
                <span ng-repeat='sty in concept.semanticTypes'>
                  {{sty.semanticType}}<br />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>

    </tr>
    <tr>
      <td>
        <b>Relationship To Current Concept</b>
      </td>
      <td>
        <span>
          <select autofocus ng-model="selectedRelationshipType"
            ng-options="item.key as item.key.concat(' ', item.value) for item in acceptedRelationshipTypes"></select>
        </span>
      </td>
    </tr>
    <!-- <tr>
      <td>
        <b>Workflow Status</b>
      </td>
      <td>

        <select ng-model="selectedWorkflowStatus"
          ng-options="item.substring(0, 1) for item in workflowStatuses"></select>
      </td>
    </tr> -->
  </table>


  <!-- Errors -->
  <div errors="errors" warnings="warnings"></div>

</div>

<div class="modal-footer">
  <span style="float: left;">
    <span finder selected="selected" lists="lists" callbacks="callbacks"></span>
  </span>
  <button ng-disabled="!selectedToConcepts" class="btn btn-primary"
    ng-click="addRelationships();" title="Add relationship(s)">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>