
<!-- Relationships -->
<div ng-show="pagedData.totalCount > 0 || paging.filter">
  <i style="float: left" class="noul glyphicon" ng-click="showing = !showing"
    ng-class="[{'glyphicon-chevron-down' : showing}, {'glyphicon-chevron-right' : !showing}]"></i>
  <h5>
    {{metadata.relationshipsLabel}} ({{pagedData.totalCount}})&nbsp;&nbsp;
    <button ng-show="metadata.terminology.descriptionLogicTerminology"
      ng-click="toggleInferred()" class="btn btn-xs btn-primary">
      <span ng-show="paging.showInferred"
        uib-tooltip="Showing inferred, click for stated">Inferred</span>
      <span ng-show="!paging.showInferred"
        uib-tooltip="Showing stated, click for inferred">Stated</span>

    </button>

  </h5>
  <div ng-show="showing">
    <span ng-show="pagedData.totalCount > 10" style="float: right;">
      Page size: <select ng-model="paging.pageSize" title="Page Size"
        ng-change="getPagedList()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </span>
    <div pager paging="paging" count="pagedData.totalCount"
      callbacks="pageCallbacks"></div>
    <ul class="icon-list">
      <li class="cr-list" ng-repeat="item in pagedData.data"><span
          ng-show="item.group > 0">
          <span class="label label-success"
            uib-tooltip="Relationship group {{item.group}}">{{item.group}}</span>
          &nbsp;
        </span> <span class="label label-warning"
          ng-show="metadata.terminology.metathesaurus && item.suppressible"
          uib-tooltip="{{metadata.suppressibleLabel}}">{{metadata.suppressibleIndicator}}</span>
        <span class="label label-default" ng-show="item.obsolete"
          uib-tooltip="{{metadata.obsoleteLabel}}">{{metadata.obsoleteIndicator}}</span>
        <span class="label label-info"
          uib-tooltip="{{callbacks.getRelationshipTypeName(item.relationshipType,metadata)}}">{{item.relationshipType}}</span>
        {{item.additionalRelationshipType}} <!-- Mobile friendly switch --> <span
          class="hidden-xs">
          <a ng-show="callbacks.getComponent"
            ng-click="callbacks.getComponent(item.toId, metadata.terminology.organizingClassType, item.toTerminologyId, component.terminology, component.version)"
            uib-tooltip="{{item.terminology}} {{metadata.terminology.organizingClassType | lowercase}}">{{item.toTerminologyId}}</a>
          <span ng-show="!callbacks.getComponent"
            uib-tooltip="{{item.terminology}} {{metadata.terminology.organizingClassType | lowercase}}">{{item.toTerminologyId}}</span>
          {{item.toName}}
        </span> <span class="visible-xs-inline">
          <a ng-class="{'nolink' : !callbacks.getComponent}"
            ng-click="callbacks.getComponent(item.toId, metadata.terminology.organizingClassType, item.toTerminologyId, component.terminology, component.version)"
            uib-tooltip="{{item.terminology}} {{metadata.terminology.organizingClassType | lowercase}}">{{item.toName}}</a>
        </span></li>
    </ul>
  </div>
</div>
<!-- end Relationships -->