<!-- Controlled by InversionCtrl (in inversionController.js)  -->
<div class="row">
  <div class="mt10 col-md-12 col-xs-12">

    <!-- Accordion -->
    <uib-accordion> <uib-accordion-group is-open="true">
    <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Request and retrieve source atom id ranges">Source Atom Id Ranges</span>
    </h5>
    </uib-accordion-heading>

    <table class="slim table table-hover pointer" style="margin-top: 10px;">

      <tbody>
        <tr>
          
          <td>
            Versioned Terminology:
            <input ng-model="vsab" size="20" placeholder="e.g. MTH_2018AB" />
          </td>
        </tr>

      </tbody>
    </table>

    <table class="slim table table-hover pointer" style="margin-top: 10px;">
      <thead>
        <th>SAB</th>
        <th>Min</th>
        <th>Max</th>
        <th># Requested</th>
        <th>Last Modified</th>
      </thead>
      <tbody>
        <tr ng-repeat="entry in entries">
          <td>{{entry.terminology}}</td>
          <td>{{entry.beginSourceId}}</td>
          <td>{{entry.endSourceId}}</td>
          <td>{{entry.numberOfIds}}</td>
          <td>{{toDate(entry.lastModified)}}</td>
        </tr>

      </tbody>
    </table>
    <div style="margin-top:40px">
      <button class="btn btn-xs btn-primary" ng-click="search(vsab)">Search</button>
      <button class="btn btn-xs btn-primary"
        ng-click="openRequestRangeModal(vsab)">Request Range</button>
      <button class="btn btn-xs btn-primary"
        ng-click="openSubmitRangeUpdateModal(vsab)">Submit
        Adjustment</button>
    </div>
    </uib-accordion-group></uib-accordion>

  </div>
</div>