<div ng-show="pagedData.totalCount > 0 || paging.filter">
  <div class="alert alert-success"
    ng-click="annotatedContentCollapsed = !annotatedContentCollapsed">
    <i class="glyphicon"
      ng-class="[{'glyphicon-chevron-right' : annotatedContentCollapsed}, {'glyphicon-chevron-down' : !annotatedContentCollapsed}]">
    </i>
    &nbsp; Annotated Content ({{pagedData.totalCount}})
  </div>
  <div ng-show="!annotatedContentCollapsed">
    <div pager paging="paging" count="pagedData.totalCount"
      callbacks="pageCallbacks"></div>
    <table class="table table-hover" ng-show="pagedData.results.length > 0">
      <tbody>
        <!-- table-hover makes use of the active class -->
        <tr ng-class="{selected: content.id == component.id}"
          ng-mouseenter="content.hover = true;"
          ng-mouseleave="content.hover = false;"
          ng-repeat="content in pagedData.results">
          <!--  Only put ng-click callbacks on first two cells (i.e. not the controls cell) -->
          <td class="col-md-4 col-xs-4"
            ng-click="callbacks.getComponent(content.id, content.type, content.terminologyId, content.terminology, content.version)">
            {{content.active}}
            <span
              ng-show="content.terminology != metadata.terminology.terminology">{{content.terminology}}
              /</span>
            <span ng-show="content.terminologyId.length < 12">{{content.terminologyId}}</span>
            <span ng-show="content.terminologyId.length > 11" class="breakword">{{content.terminologyId}}</span>
          </td>
          <td class="col-md-7 col-xs-7"
            ng-click="callbacks.getComponent(content.id, content.type, content.terminologyId, content.terminology, content.version)">
            <span class=""> {{content.value}}</span>
          </td>
          <td class="col-md-1 col-xs-1 nobreak">
            <!-- Always show note control -->
            <i
              ng-class="[{noul : content.property.key === 'hasNotes' && content.property.value === 'true'}, {grey : content.property.key === 'hasNotes' && content.property.value !== 'true'}]"
              ng-click="viewNotes(content)"
              class="glyphicon glyphicon-tags glyphicon-muted noul"
              title="View, Add, or Remove Notes"></i>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>