<div class="modal-header">
  <h4 style="display: inline">{{action}} Errors/Warnings</h4>
  <span style="float: right">
    <i class="glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>
</div>
<div errors="errors" warnings="warnings"></div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-show="warnings.length > 0"
    ng-click="overrideWarnings();"
    title="Override warnings and complete action.">Override Warnings</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>