<div ng-controller="LangControls as langControls">
	<div class="btn-group btn-sm">
    <button type="button" class="btn btn-info btn-sm" translate="ENGLISH" ng-click="langControls.changeLanguage('en')"></button>
    <button type="button" class="btn btn-info btn-sm" translate="FRENCH" ng-click="langControls.changeLanguage('fr')"></button>
	<button type="button" class="btn btn-info btn-sm" translate="SPANISH" ng-click="langControls.changeLanguage('es')"></button>
	<button type="button" class="btn btn-info btn-sm" translate="PORTUGUESE" ng-click="langControls.changeLanguage('pt')"></button>
	<button type="button" class="btn btn-info btn-sm" translate="GERMAN" ng-click="langControls.changeLanguage('de')"></button>
	</div>           
</div>