<!-- Source view -->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h3>Source Data</h3>
    <button class="btn btn-default btn-primary" ng-click="createSourceData()">Create
      Source Data</button>
    <table ng-table="tpSourceDatas" class="table">
      <tr ng-repeat="item in $data">
        <td data-title="'Actions'" sortable="''">
          <button class="btn btn-sm btn-primary" ng-click="viewSourceData(item)">
            <span class="glyphicon glyphicon-edit"></span>
            View
          </button>
          <button class="btn btn-sm btn-danger"
            ng-click="removeSourceData(item)">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
        <td data-title="'Name'" sortable="'name'">{{item.name ? item.name :
          '(Unnamed Source Data)'}}</td>
        <td data-title="'Status'" sortable="'status'">
          {{item.status}} <i class="noul glyphicon glyphicon-eye-open"
            uib-tooltip="Click to cancel status polling"
            ng-show="item.status === 'LOADING' && loadingPolls[item.id]"
            ng-click="cancelLoadingPolling(item)"></i> <i
            class="noul glyphicon glyphicon-eye-close"
            uib-tooltip="Click to resume status polling"
            ng-show="item.status === 'LOADING' && loadingPolls[item.id]"
            ng-click="cancelLoadingPolling(item)"></i>
        </td>
        <td data-title="'Last Modified'" sortable="'lastModified'">
          {{item.lastModified | date: 'medium'}}</td>
        <td data-title="'Source Files'" sortable="'sourceDataFiles.length'">
          {{item.sourceDataFiles ? item.sourceDataFiles.length : 0}}</td>
      </tr>
    </table>
    <div class="row" ng-show="currentSourceData" style="margin-top: 75px;">
      <div class="col-md-4">
        <h4>Source Data Details</h4>
        <div class="row">
          <div class="col-md-3">Name</div>
          <div class="col-md-9">
            <textarea style="width: 95%" ng-model="currentSourceData.name"
              placeholder="Unique name for this source data configuration"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Description</div>
          <div class="col-md-9">
            <textarea style="min-height: 100px; width: 95%; max-width: 95%;"
              ng-model="currentSourceData.description"
              placeholder="Optional description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Terminology</div>
          <div class="col-md-9">
            <input style="max-width: 100%"
              ng-model="currentSourceData.terminology"
              placeholder="e.g. UMLS, SNOMEDCT, ...">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Version</div>
          <div class="col-md-9">
            <input style="max-width: 100%" ng-model="currentSourceData.version"
              placeholder="e.g. latest">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Release Date</div>
          <div class="col-md-9">
            <input style="max-width: 100%"
              ng-model="currentSourceData.releaseVersion"
              placeholder="e.g. 20150131">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Loader</div>
          <div class="col-md-9">
            <select ng-model="currentSourceData.handler"
              ng-options=" handler.value as handler.key for handler in sourceDataHandlers">
            </select>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <button class="btn btn-primary btn-sm"
              style="padding-top: 5px; padding-bottom: 5px;"
              ng-click="saveSourceData(currentSourceData)"
              ng-show="isSourceDataModified">
              <span class="glyphicon glyphicon-save"> Save</span>
            </button>
            <button class="btn btn-warning btn-sm"
              ng-click="cancelSourceDataModifications()"
              ng-show="isSourceDataModified">
              <span class="glyphicon glyphicon-ban-circle"> Cancel</span>
            </button>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-3">Actions</div>
          <div class="col-md-9">
            <button class="btn btn-success btn-sm"
              ng-click="loadFromSourceData(currentSourceData)"
              ng-show="!isSourceDataModified">
              <span class="glyphicon glyphicon-play"></span>
              &nbsp;Load Data
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!--  Upload interface -->
        <div class="col-md-3 col-xs-12">
          <h3>Upload files</h3>
          <div ng-show="uploader.isHTML5" style="display: inline-block;">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="well afu-drop-zone" nv-file-over="" uploader="uploader">
              Drop files here</div>
          </div>
          <div style="display: inline-block;">
            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            Select Files <input type="file" nv-file-select=""
              uploader="uploader" multiple /><br />
          </div>
        </div>
        <div class="col-md-9 col-xs-12" style="margin-bottom: 100px">
          <div class="row">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader.queue.length }}</p>
            <table class="table">
              <thead>
                <tr>
                  <th ng-show="hasZippedFiles">Unzip</th>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td ng-show="hasZippedFiles">
                    <input type="checkbox" ng-show="item.isZipped"
                      ng-model="item.unzip">
                  </td>
                  <td>
                    <strong>{{ item.file.name }}</strong>
                  </td>
                  <td ng-show="uploader.isHTML5" nowrap>{{
                    item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar"
                        ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span ng-show="item.isCancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                    </span>
                    <span ng-show="item.isError">
                      <i class="glyphicon glyphicon-remove"></i>
                    </span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                      ng-click="item.upload()"
                      ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span>
                      {{ item.isError || item.isCancel ? 'Retry' : 'Upload'}}
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                      ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span>
                      Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                      ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span>
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div>
                Queue progress:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar"
                    ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                ng-click="uploader.uploadAll()"
                ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span>
                Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s"
                ng-click="uploader.cancelAll()"
                ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s"
                ng-click="uploader.clearQueue()"
                ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span>
                Remove all
              </button>
            </div>
          </div>
          <div class="row">
            <h3>Uploaded Files</h3>
            <table ng-table="tpUploaded" class="table">
              <tr ng-repeat="item in $data">
                <td data-title="''" sortable="'directory'">
                  <span class="md md-folder" ng-if="item.directory"></span>
                <td data-title="'Name'" sortable="'name'"
                  stye="word-break: break-all;">{{item.name}}</td>
                <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
                  }} MB</td>
                <td data-title="'Uploaded'" sortable="'date'">{{item.date |
                  date : medium}}</td>
                <td data-title="''" sortable="''">
                  <button type="button" class="btn btn-danger btn-xs"
                    ng-click="removeFile(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  </button>
                </td>
              </tr>
            </table>
            <div>
              <button type="button" class="btn btn-danger btn-s"
                ng-click="removeAllFiles()" ng-disabled="!tpUploaded.count">
                <span class="glyphicon glyphicon-trash"></span>
                Remove all
              </button>
            </div>
            <div class="row">
              <h4>Source Data Files</h4>
              <div class="alert alert-warning"
                ng-show="!currentSourceData.sourceDataFiles || currentSourceData.sourceDataFiles.length === 0">No
                source data files added.</div>
              <table ng-table="tpAttached" class="table"
                ng-show="currentSourceData.sourceDataFiles.length > 0">
                <tr ng-repeat="item in $data">
                  <td data-title="'Name'" sortable="'name'"
                    stye="word-break: break-all;">{{item.name}}</td>
                  <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
                    }} MB</td>
                  <td data-title="'Uploaded'" sortable="'date'">{{item.timestamp
                    | date : medium}}</td>
                  <td data-title="''" sortable="''">
                    <button type="button" class="btn btn-danger btn-xs"
                      ng-click="removeSourceDataFileFromSourceData(currentSourceData, item)">
                      <span class="glyphicon glyphicon-minus"></span>
                      Remove
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>