<!-- Source view -->
<div class="row">

  <div class="col-md-1 col-xs-0"></div>
  <div class="col-md-11 col-xs-12">
    <h3>Source Data</h3>

    <button class="btn btn-default btn-primary" ng-click="createSourceData()">Create
      Source Data</button>

    <table ng-table="tpSourceDatas" class="table">
      <tr ng-repeat="item in $data">
        <td data-title="'Actions'" sortable="''">
          <button class="btn btn-sm btn-primary" ng-click="viewSourceData(item)">
            <span class="glyphicon glyphicon-edit"></span>
            View
          </button>
          <button class="btn btn-sm btn-danger"
            ng-click="removeSourceData(item)">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
        <td data-title="'Name'" sortable="'name'">{{item.name ? item.name :
          '(Unnamed Source Data)'}}</td>
        <td data-title="'Status'" sortable="'loaderStatus'">{{item.loaderStatus}}



        
        <td data-title="'Last Modified'" sortable="'lastModified'">
          {{item.lastModified | date: 'medium'}}</td>
        <td data-title="'Source Files'" sortable="'sourceDataFiles.length'">
          {{item.sourceDataFiles ? item.sourceDataFiles.length : 0}}</td>
      </tr>
    </table>

    <div class="row" style="margin-top: 50px">&nbsp;</div>

    <div class="row" ng-show="currentSourceData">
      <div class="col-md-4">
        <h4>Source Data Details</h4>
        <div class="row">
          <div class="col-md-2">Name</div>
          <div class="col-md-10">
            <textarea style="width: 100%" ng-model="currentSourceData.name"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Description</div>
          <div class="col-md-10">
            <textarea style="min-height: 100px; width: 100%;"
              ng-model="currentSourceData.description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Loader</div>
          <div class="col-md-10">
            <select ng-model="currentSourceData.loader"
              ng-options=" loader as loader for loader in loaders">
            </select>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <button class="btn btn-primary btn-s"
              style="padding-top: 5px; padding-bottom: 5px;"
              ng-click="saveSourceData(currentSourceData)"
              ng-disabled="!isSourceDataModified">
              <span class="glyphicon glyphicon-save"> Save</span>
            </button>
            <button class="btn btn-default btn-warning"
              ng-click="cancelSourceDataModifications()">
              <span class="glyphicon glyphicon-ban-circle"> Cancel</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4>Source Data Files</h4>
        <table ng-table="tpAttached" class="table">
          <tr ng-repeat="item in $data">
            <td data-title="'Name'" sortable="'name'"
              stye="word-break: break-all;">{{item.name}}</td>
            <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
              }} MB</td>
            <td data-title="'Uploaded'" sortable="'date'">{{item.timestamp
              | date : medium}}</td>
            <td data-title="''" sortable="''">
              <button type="button" class="btn btn-danger btn-xs"
                ng-click="removeSourceDataFileFromSourceData(currentSourceData, item)">
                <span class="glyphicon glyphicon-minus"></span>
                Remove
              </button>
            </td>

          </tr>
        </table>
      </div>

      <div class="col-md-4">
        <h4>Available Files</h4>
        <table ng-table="tpAvailable" class="table">
          <tr ng-repeat="item in $data">
            <td data-title="''" sortable="''">
              <button type="button" class="btn btn-primary btn-xs"
                ng-click="addSourceDataFileToSourceData(currentSourceData, item)">
                <span class="glyphicon glyphicon-plus"></span>
                Add
              </button>
            </td>
            <td data-title="'Name'" sortable="'name'"
              stye="word-break: break-all;">{{item.name}}</td>
            <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
              }} MB</td>
            <td data-title="'Uploaded'" sortable="'date'">{{item.timestamp
              | date : medium}}</td>


          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-xs-0"></div>
</div>