<div class="modal-header">
  <h4>{{component.terminology}} {{component.type}} Notes:
    {{component.terminologyId}} {{component.name}}</h4>
</div>
<div class="modal-body">
  <div>
    <h5 ng-show="object.notes.length > 0">
      <b>Notes<span ng-show="pagedNotes.length > 0">
          ({{pagedNotes.totalCount}})</span></b>
    </h5>
    <div pager paging="paging" count="pagedData.totalCount"
      callback="pageCallback"></div>
    <table ng-show="pagedData.length > 0" class="table">
      <thead class="table-select-row">
        <tr>
          <th class="col-md-6 col-xs-6">Note</th>
          <th class="col-md-2 col-xs-2">Date</th>
          <th class="col-md-2 col-xs-2">Author</th>
          <th class="col-md-2 col-xs-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="note in pagedNotes">
          <td>
            <div ng-bind-html="getNoteValue(note)"></div>
          </td>
          <td>{{toDate(note.lastModified)}}</td>
          <td>{{note.lastModifiedBy}}</td>
          <td>
            <a class="toolicon" title="Remove"
              ng-click="removeNote(object, note); $event.stopPropagation()">
              <i title="Remove note" class="noul material-icons md-18">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <textarea rows="4" cols="40" ng-model="newNote"
        ui-tinymce="tinymceOptions"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!newNote"
    ng-click="addNote(newNote);" title=" Add new note to {{type}}">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>