<div class="modal-header">
  <h4>{{component.terminology}}
    {{metadata.terminology.organizingClassType}} Notes:
    {{component.terminologyId}} {{component.name}}</h4>
</div>
<div class="modal-body">
  <div>
    <h5 ng-show="component.notes.length > 0">
      <b>Notes<span ng-show="pagedData.data.length > 0">
          ({{pagedData.totalCount}})</span></b>
    </h5>

    <div pager paging="paging" count="pagedData.totalCount"
      callbacks="pageCallbacks"></div>
    <table ng-show="pagedData.data.length > 0" class="table table-hover">
      <tbody>
        <tr ng-repeat="note in pagedData.data"
          ng-mouseenter="note.hover = true;" ng-mouseleave="note.hover = false;">
          <td class="col-md-8 col-xs-8">
            <div ng-bind-html="getNoteValue(note)"></div>
          </td>
          <td class="col-m3-2 col-xs-2">{{note.lastModifiedBy}}</td>
          <td class="col-md-3 col-xs-3">
            <span>{{toDate(note.lastModified)}}</span>
          </td>
          <td class="col-md-1 col-xs-1">
            <i ng-show="note.hover" title="Remove note"
              ng-click="removeNote(note)"
              class="noul glyphicon glyphicon-remove"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <textarea rows="4" cols="40" ng-model="newNote" ui-tinymce="tinymceOptions"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!newNote"
    ng-click="addNote(newNote);" title=" Add new note to {{type}}">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>