<div class="modal-header">
  <h4>Create Checklist</h4>
</div>

<div class="modal-body">

  <table class="table">
    <tr>
      <td>
        <b>Bin</b>
      </td>
      <td>
        {{bin.name}}
        <span ng-show="clusterType != 'default'"> ({{clusterType}})</span>
      </td>
    </tr>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>
        <input ng-model="checklist.name" size="40"
          placeholder="e.g. chk_test_list" />
      </td>
    </tr>
    <tr>
      <td>
        <b>Description</b>
      </td>
      <td>
        <textarea rows="4" cols="40" ng-model="checklist.description"
          placeholder="(required)... description of the checklist"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <b>Random order</b>
      </td>
      <td>
        <input type="checkbox" ng-model="checklist.randomize"
          title="Generate checklist from the bin using a random sample.">
      </td>
    </tr>
    <tr>
      <td>
        <b>Exclude records on worklists</b>
      </td>
      <td>
        <input type="checkbox" ng-model="checklist.excludeOnWorklist"
          title="Generate checklist from concepts not already on worklists.">
      </td>
    </tr>
  </table>

  <!-- Errors -->
  <div errors="errors"></div>

</div>


<div class="modal-footer">
  <button ng-disabled="!checklist.name || !checklist.description"
    class="btn btn-primary" ng-click="createChecklist(checklist);">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>