<form ng-submit="submitChecklist();">
  <div class="modal-header">
    <h4 style="display: inline">{{action}} Checklist</h4>
    <span style="float: right">
      <i class="noul glyphicon glyphicon-remove" ng-click="close()"></i>
    </span>
  </div>

  <div class="modal-body">

    <table class="slim table">
      <tr ng-show="action == 'Add'">
        <td>
          <b>Bin</b>
        </td>
        <td>
          {{bin.name}}
          <span ng-show="clusterType != 'default'"> ({{clusterType}})</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>
          <input autofocus ng-model="name" size="40"
            placeholder="e.g. chk_test_list" />
        </td>
      </tr>
      <tr ng-show="action == 'Add'">
        <td>
          <b>Description</b>
        </td>
        <td>
          <textarea rows="4" cols="40" ng-model="description"
            placeholder="(required)... description of the checklist"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <b>Cluster Count</b>
        </td>
        <td>
          <input type="number" size="4" ng-model="clusterCt"
            list="clusterCtList" placeholder="e.g. 100, 200" />
          <datalist id="clusterCtList">
            <option ng-repeat="ct in clusterCtOptions" value="{{ct}}">{{ct}}</option>
          </datalist>
          <span class="btn btn-xs btn-warning" ng-show="clusterCt"
            ng-click="clusterCt = ''">Clear</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Skip Clusters</b>
        </td>
        <td>
          <input type="number" ng-model="skipClusterCt" size="4" />
        </td>
      </tr>
      <tr ng-show="action == 'Add'">
        <td>
          <b>Sort order</b>
        </td>
        <td>
          <select ng-model="sortOrder" title="Sort order for creating checklist">
            <option value="clusterId">Cluster id</option>
            <option value="indexedData">Name</option>
            <option value="RANDOM">Randomize</option>
          </select>
        </td>
      </tr>
      <tr ng-show="action == 'Add'">
        <td>
          <b>Exclude records on worklists</b>
        </td>
        <td>
          <input type="checkbox" ng-model="excludeOnWorklist"
            title="Exclude content already on worklists.">
        </td>
      </tr>
    </table>

    <!-- Errors -->
    <div errors="errors"></div>

    <!-- Warnings -->
    <div class="alert alert-warning" ng-repeat="warning in warnings">
      {{warning}}
      <div style="cursor: pointer; display: inline; float: right; width: 3%;">
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button ng-disabled="warnings.length > 0" class="btn btn-primary"
      ng-bind="action"></button>
    <span class="btn btn-warning" ng-click="close()">Close</span>
  </div>
</form>