<div class="modal-header">
  <h4>{{value}} Notes</h4>
</div>

<div class="modal-body">
  <table class="table">
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>{{object.name}}{{object.conceptName}}</td>
    </tr>
    <tr>
      <td>
        <b>{{value}} Id</b>
      </td>
      <td>{{object.id}}</td>
    </tr>
    <tr ng-show="object.description">
      <td>
        <b>Description</b>
      </td>
      <td>{{object.description}}</td>
    </tr>
  </table>
  <div class="row">
    <!--  Left hand side -->
    <div class="col-md-12 col-xs-12">

      <div>

        <h5 ng-show="object.notes.length > 0">
          <b>Notes<span ng-show="pagedNotes.length > 0">
              ({{pagedNotes.totalCount}})</span></b>
        </h5>

        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="pagedNotes.totalCount > pageSize || paging['notes'].filter"
            total-items="pagedNotes.totalCount" ng-model="paging['notes'].page"
            ng-change="getPagedNotes()"></uib-pagination>

          <input class="input-filter" placeholder="Search"
            ng-show="pagedNotes.totalCount > pageSize || paging['notes'].filter"
            type="text" ng-model="paging['notes'].filter"
            ng-model-options="{ debounce: 300 }" ng-change="getPagedNotes()">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['notes'].filter"
            ng-click="paging['notes'].filter = ''; getPagedNotes()"
            title="Click to clear filter text">Clear</button>

        </span>

        <span style="display: block"
          ng-show="pagedNotes.length == 0 && paging['notes'].filter"
          class="alert alert-warning"> No notes matching filter </span>
        <span style="display: block"
          ng-show="pagedNotes.length == 0 && !paging['notes'].filter"
          class="alert alert-warning"> No notes </span>
          
        <table ng-show="pagedNotes.length > 0" class="table">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-6 col-xs-6">{{value}} Notes</th>
              <th class="col-md-2 col-xs-2">Date</th>
              <th class="col-md-2 col-xs-2">Author</th>
              <th class="col-md-2 col-xs-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in pagedNotes">
              <td>
                <div ng-bind-html="getNoteValue(note)"></div>
              </td>
              <td>{{toDate(note.lastModified)}}</td>
              <td>{{note.lastModifiedBy}}</td>
              <td>
                <a class="toolicon" title="Remove"
                  ng-click="removeNote(object, note); $event.stopPropagation()">
                  <i title="Remove note" class="noul material-icons md-18">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <textarea rows="4" cols="40" ng-model="newNote"
        ui-tinymce="tinymceOptions"></textarea>

      <!-- Errors -->
      <table class="table">
        <tr ng-show="errors.length > 0">
          <td>&nbsp;</td>
          <td>

            <div class="alert alert-danger alert-error">
              {{errors[0]}}
              <div style="display: inline; float: right;">
                <i ng-show="errors[1]"
                  title="{{error.expand ? 'Show' : 'Hide'}} long eror"
                  class="noul material-icons md-18"
                  ng-click="error.expand = !error.expand;">attach_file</i>
              </div>
              <p ng-show="errors[1] && error.expand">
                <br />{{errors[1]}}
              </p>
            </div>

          </td>
        </tr>
      </table>

    </div>



  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!newNote"
    ng-click="submitNote(object, newNote);" title=" Add new note to {{value}}">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>