<!-- Controlled by WorkflowCtrl (in workflowController.js)  -->
<div class="row">
  <!-- Workflow -->
  <div class="col-md-12 col-xs-12">
    <h5>
      <span>
        Project: <select ng-model="currentProject" ng-show="projects.length > 1"
          ng-options="item.name for item in projects"
          ng-change="setProject(currentProject);"></select>
        <span ng-show="projects.length == 1">{{currentProject}}</span>
      </span>
      <span>
        &nbsp;&nbsp;Role: <select ng-model="projectRole" ng-show="roleOptions.length > 1"
                ng-options="item for item in roleOptions"></select>
        <span ng-show="roleOptions.length == 1">{{projects.role}}</span>
      </span>
    </h5>
  </div>
  <div class="col-md-12 col-xs-12">
    <!-- Accordion -->
    <uib-accordion> <!-- A1 - Bins --> <uib-accordion-group>
    <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Workflow Bins">Bins</span>
    </h5>
    </uib-accordion-heading>
    <div class="row m10">
      <div class="col-md-12 col-xs-12">
        <select ng-model="currentBinType" ng-show="binTypeOptions.length > 1"
          ng-options="item for item in binTypeOptions"
          ng-change="setBinType(currentBinType);"></select>
        <h4><span ng-show="binTypeOptions.length == 1">{{currentBinType}}
          <i title="Regenerate bins"
                  ng-click="regenerateBins(); $event.stopPropagation()"
                  class="noul glyphicon glyphicon-repeat"></i>
        </span>
        <span ng-show="projectRole == 'ADMINISTRATOR'" style="float: right;">
          <button ng-click="openAddBinModal()" title="Add new bin"
            class="btn btn-xs btn-primary">Add Bin</button>
        </span>
        </h4>
      </div>
      <div class="col-md-12 col-xs-12">
      <span ng-show="bins.length == 0" style="display: block;"
        class="alert alert-warning">No Workflow Bins.</span>
        <table class="table table-hover" style="margin-top: 10px;"
          ng-show="bins.length > 0">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-1 col-xs-1">Rank</th>
              <th class="col-md-3 col-xs-3">Name</th>
              <th class="col-md-3 col-xs-3">Dates</th>
              <th class="col-md-1 col-xs-1">Cluster</th>
              <th class="col-md-1 col-xs-1">All</th>
              <th class="col-md-1 col-xs-1">Assigned</th>
              <th class="col-md-1 col-xs-1">Unassigned</th>
              <th class="col-md-1 col-xs-1">Actions</th>
            </tr>
          </thead>
          <tbody ng-repeat="bin in bins">
            <tr ng-click="selectBin(bin, 'all');" ng-style="{'opacity' : bin.enabled == 0 ? 0.4 : 1}"
              ng-class="{selected: bin.id == selected.bin.id}">
              <td rowspan="4">{{bin.rank}}</td>
              <td rowspan="4">
                <i uib-tooltip="{{bin.description}}"
                  class="noul glyphicon glyphicon-question-sign"></i>&nbsp;{{bin.name}}</br>
                  <span  ng-show="projectRole == 'ADMINISTRATOR'">
                  <input type="checkbox" title="Enable/Disable Bin"
                ng-model="bin.enabled" ng-change="toggleEnable(bin)"></input>                
                <i ng-click="openEditBinModal(bin); $event.stopPropagation()" ng-show="bin.enabled"
                  title="Edit Bin"   
                  class="noul glyphicon glyphicon-pencil"></i>
                <i ng-click="openCloneBinModal(bin); $event.stopPropagation()" ng-show="bin.enabled"
                  title="Clone Bin"   
                  class="noul glyphicon glyphicon-copy"></i>
                <i ng-click="removeBin(bin); $event.stopPropagation()" ng-show="bin.enabled"
                  title="Remove Bin"   
                  class="noul glyphicon glyphicon-trash"></i>
                  </span>
              </td>
              <td rowspan="4">
                Created: {{toDate(bin.creationTime)}} <br />Modified:
                {{toDate(bin.lastModified)}}
              </td>
            </tr>
            <tr ng-repeat="stats in bin.stats" ng-click="selectBin(bin, stats.clusterType);"
                ng-style="{'opacity' : bin.enabled == 0 ? 0.4 : 1}"
                ng-class="{selected: (stats.clusterType == selected.clusterType && bin.id == selected.bin.id) ||
                                      (selected.clusterType == 'all' && bin.id == selected.bin.id)}">
              <td>{{ stats.clusterType }}</td>
              <td>{{ stats.stats.all }}</td>
              <td>{{ stats.stats.assigned }}</td>
              <td>{{ stats.stats.unassigned }}</td>
              <td>
                <i ng-show="stats.clusterType == 'all' && bin.stats.length > 1 && bin.enabled"
                  ng-click="setBinType(currentBinType); $event.stopPropagation()"
                  title="Refresh counts"   
                  class="noul glyphicon glyphicon-refresh"></i><i
                  ng-show="stats.clusterType != 'all' && bin.enabled"
                  ng-click="openCreateChecklistModal(bin, stats.clusterType); $event.stopPropagation()"
                  title="Add Checklist" class="noul glyphicon glyphicon-check"></i>&nbsp;<i
                  ng-show="stats.clusterType != 'all' && bin.enabled"
                  ng-click="openCreateWorklistModal(bin, stats.clusterType, stats.stats.unassigned); $event.stopPropagation()"
                  title="Add Worklist" class="noul glyphicon glyphicon-list-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr ng-show="selected.bin"
        style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />
      <div class="col-md-6 col-xs-12">
      <h4 ng-show="selected.bin && selected.bin.records.totalCount>0">
        {{selected.bin.name}}&nbsp;({{selected.bin.records.totalCount}})
      </h4>
      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-xs" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="selected.bin.records.totalCount > pageSize"
          total-items="selected.bin.records.totalCount"
          ng-model="paging['record'].page" ng-change="getRecords(selected.bin)"></uib-pagination>
        <input class="input-filter" placeholder="Search"
          ng-show="selected.bin.records.totalCount > pageSize || paging['record'].filter"
          type="text" ng-model="paging['record'].filter"
          ng-model-options="{ debounce: 300 }"
          ng-change="getRecords(selected.bin)">
        <button class="btn btn-xs btn-warning" ng-show="paging['record'].filter"
          ng-click="paging['record'].filter = ''; getRecords(selected.bin)"
          title="Click to clear filter text">Clear</button>
      </span>
      <table
        ng-show="selected.bin.records.totalCount > 0 || paging['record'].filter || paging['record'].typeFilter"
        class="table">
        <thead class="table-select-row">
          <tr>
            <th class="col-md-1 col-xs-1">Cluster</th>
            <th class="col-md-1 col-xs-1"><select
              title="Filter by record status" style="width: 40px;"
              ng-model="paging['record'].typeFilter"
              ng-options="item for item in recordTypes"
              ng-change="getRecords(selected.bin)">
                <option value="">All</option>
            </select></th>
            <th class="col-md-2 col-xs-2">Concept Id</th>
            <th class="col-md-5 col-xs-5">Concept Name</th>
            <th class="col-md-2 col-xs-2">Last Modified</th>
          </tr>
        </thead>
        <tbody ng-repeat="record in selected.bin.records">
          <tr>
            <td rowspan="3">{{record.clusterId}}</td>
            <td rowspan="3">
              <button class="btn btn-xs btn-danger"
                ng-show="record.workflowStatus == 'NEEDS_REVIEW'"
                uib-tooltip="Needs review">N</button>
              <button class="btn btn-xs btn-success"
                ng-show="record.workflowStatus == 'READY_FOR_PUBLICATION'"
                uib-tooltip="Ready for publication">R</button>
            </td>
          </tr>
          <tr ng-click="selectConcept(concept);"
            ng-class="{selected : concept.id == selected.concept.id}"
            ng-repeat="concept in record.concepts"
            ng-style="{'color': concept.workflowStatus == 'NEEDS_REVIEW' ? 'red' : 'black'}">
            <td>
              {{concept.id}}
            </td>
            <td>{{concept.name}}</td>
            <td>
              {{toDate(record.concepts[0].lastModified)}}<br />{{record.concepts[0].lastModifiedBy}}
            </td>
          </tr>
        </tbody>
      </table>
      <span
          ng-show="(paging['record'].filter || paging['record'].typeFilter) && selected.worklist.records.totalCount == 0"
          class="alert alert-warning">
          <br />No records matching filter
      </span>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 ng-show="selected.concept">Concept Report</h4>
        <pre ng-show="selected.concept">
          {{selected.concept.report}}
        </pre>
      </div>
    </div>
    </uib-accordion-group> <!-- A2 - Checklists --> <uib-accordion-group> <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Workflow Checklists">Checklists</span>
    </h5>
    </uib-accordion-heading>
    <div worklist-table value="Checklist" project="currentProject"></div>
    </uib-accordion-group> <!-- A3 - Worklists --> <uib-accordion-group> <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Workflow Worklists">Worklists</span>
    </h5>
    </uib-accordion-heading>
    <div worklist-table value="Worklist" project="currentProject"></div>
    </uib-accordion-group> </uib-accordion>
  </div>
</div>