<div class="modal-header">
  <h4>Edit Terminology</h4> 
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table class="slim table">
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td>{{terminology.terminology}}</td>
        </tr>       
        
       

        <tr>
        <td>
          <b>Inverter Email</b>
        </td>
        <td>
          <input ng-model="terminology.inverterEmail" size="40" />
        </td>
        </tr>

        <tr>
        <td>
          <b>Asserts Rels Direction</b>
        </td>
        <td>
          <input type="checkbox" ng-model="terminology.assertsRelsDirection"
            title="Terminology asserts rels direction.">
        </td>
        </tr>
                
        <tr>
        <td>
          <b>Current</b>
        </td>
        <td>
          <input type="checkbox" ng-model="terminology.current"
            title="Terminology is current.">
        </td>
        </tr>
        
        <tr>
        <td>
          <b>Include Siblings</b>
        </td>
        <td>
          <input type="checkbox" ng-model="terminology.includeSiblings"
            title="Terminology includes siblings.">
        </td>
        </tr>
        
        <tr>
        <td>
          <b>Citation</b>
        </td>
        <td>
          <table class="slim table">
            <tr>
              <td>Organization</td>
              <td><input ng-model="terminology.citation.organization" size="40" /></td>
            </tr>
            <tr>
              <td>Place of Publication</td>
              <td><input ng-model="terminology.citation.placeOfPublication" size="40" /></td>
            </tr>
            <tr>
              <td>Editor</td>
              <td><input ng-model="terminology.citation.editor" size="40" /></td>
            </tr>
            <tr>
              <td>Edition</td>
              <td><input ng-model="terminology.citation.edition" size="40" /></td>
            </tr>
            <tr>
              <td>Content Designator</td>
              <td><input ng-model="terminology.citation.contentDesignator" size="40" /></td>
            </tr>
            <tr>
              <td>Author</td>
              <td><input ng-model="terminology.citation.author" size="40" /></td>
            </tr>
            <tr>
              <td>Series</td>
              <td><input ng-model="terminology.citation.series" size="40" /></td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input ng-model="terminology.citation.title" size="40" /></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><input ng-model="terminology.citation.notes" size="40" /></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><input ng-model="terminology.citation.location" size="40" /></td>
            </tr>
            <tr>
              <td>Extent</td>
              <td><input ng-model="terminology.citation.extent" size="40" /></td>
            </tr>
            <tr>
              <td>Availability Statement</td>
              <td><input ng-model="terminology.citation.availabilityStatement" size="40" /></td>
            </tr>
            <tr>
              <td>Date of Revision</td>
              <td><input ng-model="terminology.citation.dateOfRevision" size="40" /></td>
            </tr>
          </table>
        </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Errors -->
  <div errors="errors"></div>
</div>


<div class="modal-footer">
  <button class="btn btn-primary"
    ng-click="submitTerminology(terminology);">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>