<div class="modal-header">
  <h4 style="display:inline"ng-show="mode == 'termType'">{{action}} Term Type</h4>
  <h4 style="display:inline" ng-show="mode == 'attributeName'">{{action}} Attribute Name</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table ng-show="mode == 'termType' " class="slim table">
        <tr>
          <td>
            <b>Abbreviation</b>
          </td>
          <td ng-show="action == 'Edit'">{{object.abbreviation}}</td>
          <td ng-show="action == 'Add'">
            <input autofocus ng-model="object.abbreviation" size="40" />
          </td>
        </tr>
        <tr>
          <td>
            <b>Expanded Form</b>
          </td>
          <td>
            <input ng-model="object.expandedForm" size="40" />
          </td>
        </tr>
        <tr ng-show="action == 'Edit'">
          <td>
            <b>Term Type Style</b>
          </td>
          <td>{{object.style}}</td>
        </tr>
        <tr ng-show="action == 'Edit'">
          <td>
            <b>Usage Type</b>
          </td>
          <td>{{object.usageType}}</td>
        </tr>
        <tr ng-show="action == 'Edit'">
          <td>
            <b>Name Variant Type</b>
          </td>
          <td>{{object.nameVariantType}}</td>
        </tr>
        <tr ng-show="action == 'Edit'">
          <td>
            <b>Code Variant Type</b>
          </td>
          <td>{{object.codeVariantType}}</td>
        </tr>
        <tr>
          <td>
            <b>Suppressible</b>
          </td>
          <td>
            <input type="checkbox" ng-model="object.suppressible"
              title="Term type is suppressible.">
          </td>
        </tr>

        <tr>
          <td>
            <b>Hierarchical Type</b>
          </td>
          <td>
            <input type="checkbox" ng-model="object.hierarchicalType"
              title="Hierarchical type flag.">
          </td>
        </tr>

        <tr>
          <td>
            <b>Exclude</b>
          </td>
          <td>
            <input type="checkbox" ng-model="object.exclude"
              title="Exclude flag.">
          </td>
        </tr>

        <tr>
          <td>
            <b>Norm Exclude</b>
          </td>
          <td>
            <input type="checkbox" ng-model="object.normExclude"
              title="Norm exclude flag.">
          </td>
        </tr>
      </table>

      <table ng-show="mode == 'attributeName' " class="slim table">
        <tr>
          <td>
            <b>Abbreviation</b>
          </td>
          <td ng-show="action == 'Edit'">{{object.abbreviation}}</td>
          <td ng-show="action == 'Add'">
            <input ng-model="object.abbreviation" size="40" />
          </td>
        </tr>
        <tr>
          <td>
            <b>Expanded Form</b>
          </td>
          <td>
            <input ng-model="object.expandedForm" size="40" />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Errors -->
  <div errors="errors"></div>
</div>


<div class="modal-footer">
  <button ng-bind="action == 'Add' ? 'Add' : 'Save'" class="btn btn-primary"
    ng-click="submit(object);"></button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>