<div class="modal-header">
  <h4 style="display: inline">Add Validation Check</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table class="slim table">
        <thead>
          <tr>
            <th class="col-md-3 col-xs-3">&nbsp;</th>
            <th class="col-md-9 col-md-9">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Validation Check</td>
            <td>
              <select ng-model="typeKeyValue.type"
          ng-options="item for item in project.validationChecks"></select>
            </td>
          </tr>
          <tr>
            <td>Value 1</td>
            <td>
              <input ng-model="typeKeyValue.key" size="40" />
            </td>
          </tr>
          <tr>
            <td>Value 2</td>
            <td>
              <input ng-model="typeKeyValue.value" size="40" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Errors -->
  <div errors="errors"></div>
</div>


<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addValidationCheck();">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>