<!-- Controlled by AdminCtrl (in adminController.js)  -->
<div class="row">

  <!-- Content -->
  <div class="col-md-12 col-xs-12">

    <!-- Application Administration section -->
    <h4
      ng-show="user.applicationRole == 'ADMIN' || user.applicationRole == 'USER'">Application
      Administration</h4>

    <!-- Accordion -->
    <uib-accordion
      ng-show="user.applicationRole == 'ADMIN' || user.applicationRole == 'USER'">

    <!-- A1 - Projects --> <uib-accordion-group> <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Add, edit, and remove projects">Projects</span>
    </h5>
    </uib-accordion-heading>
    <div class="col-md-12 col-xs-12">
      <h4>
        <span style="float: right;">
          <button ng-click="openAddProjectModal()" title="Add project"
            class="btn btn-xs btn-primary">Add Project</button>
        </span>
      </h4>

      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="projects.totalCount > pageSize || paging['project'].filter"
          total-items="projects.totalCount" ng-model="paging['project'].page"
          ng-change="getProjects()"></uib-pagination>

        <input class="input-filter" placeholder="Search"
          ng-show="projects.totalCount > pageSize || paging['project'].filter"
          type="text" ng-model="paging['project'].filter"
          ng-model-options="{ debounce: 300 }" ng-change="getProjects()">

        <button class="btn btn-xs btn-warning"
          ng-show="paging['project'].filter"
          ng-click="paging['project'].filter = ''; getProjects()"
          title="Click to clear filter text">Clear</button>
      </span>


      <table class="table">
        <thead class="table-select-row">
          <tr>
            <th class="col-md-2 col-xs-2"
              ng-click="setSortField('project','id')">Id<span
                ng-bind="getSortIndicator('project','id')"></span></th>
            <th class="col-md-4 col-xs-4"
              ng-click="setSortField('project','name')">Name<span
                ng-bind="getSortIndicator('project','name')"></span></th>
            <th class="col-md-4 col-xs-4"
              ng-click="setSortField('project','description')">Description<span
                ng-bind="getSortIndicator('project','description')"></span></th>
            <th class="col-md-1 col-xs-1"
              ng-click="setSortField('project','namespace')">Namespace</th>
            <th class="col-md-1 col-xs-1">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects">
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.namespace}}</td>

            <td class="nobreak">

              <i
                ng-click="openEditProjectModal(project); $event.stopPropagation()"
                title="Edit" class="noul material-icons md-18">edit</i>

              <i
                confirm="Are you sure you want to remove the project ({{project.name}})?"
                ng-click="removeProject(project); $event.stopPropagation()"
                title="Delete" class="noul material-icons md-18">delete</i>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  end A2 - Projects --> </uib-accordion-group>
    <div></div>

    <!-- Accordion 2 - Users --> <uib-accordion-group> <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Add, edit, and remove users"> Users </span>
    </h5>
    </uib-accordion-heading>
    <div class="col-md-12 col-xs-12">
      <h4>
        <span style="float: right;">
          <button ng-click="openAddUserModal(luser)" title="Add user"
            class="btn btn-xs btn-primary">Add User</button>
        </span>
      </h4>

      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="users.totalCount > pageSize || paging['user'].filter"
          total-items="users.totalCount" ng-model="paging['user'].page"
          ng-change="getUsers()"></uib-pagination>

        <input class="input-filter" placeholder="Search"
          ng-show="users.totalCount > pageSize || paging['user'].filter"
          type="text" ng-model="paging['user'].filter"
          ng-model-options="{ debounce: 300 }" ng-change="getUsers()">

        <button class="btn btn-xs btn-warning" ng-show="paging['user'].filter"
          ng-click="paging['user'].filter = ''; getUsers()"
          title="Click to clear filter text">Clear</button>
      </span>

      <table class="table">
        <thead class="table-select-row">
          <tr>
            <th class="col-md-2 col-xs-2"
              ng-click="setSortField('user','userName')">Username<span
                ng-bind="getSortIndicator('user','userName')"></span></th>
            <th class="col-md-4 col-xs-4" ng-click="setSortField('user','name')">Name<span
                ng-bind="getSortIndicator('user','name')"></span></th>
            <th class="col-md-3 col-xs-3"
              ng-click="setSortField('user','email')">Email<span
                ng-bind="getSortIndicator('user','email')"></span></th>
            <th class="col-md-2 col-xs-2"
              ng-click="setSortField('user','applicationRole')">Application
              Role<span ng-bind="getSortIndicator('user','applicationRole')"></span>
            </th>
            <th class="col-md-1 col-xs-1">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.userName}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.applicationRole}}</td>

            <td class="nobreak">
              <i ng-click="openEditUserModal(user); $event.stopPropagation()"
                title="Edit" class="noul material-icons md-18">edit</i>
              <i
                confirm="Are you sure you want to remove the user ({{user.userName}})?"
                ng-click="removeUser(user); $event.stopPropagation()"
                title="Delete" class="noul material-icons md-18">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  end A2 Users --> </uib-accordion-group>
    <div></div>

    <!-- A3 - User Preferences --> <uib-accordion-group> <uib-accordion-heading>
    <h5>
      <span uib-tooltip="Manage user preferences"> User Preferences </span>
    </h5>
    </uib-accordion-heading> <!--  end A3 User Prefs-->

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h5>
          <b>Default Project Settings</b>
        </h5>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <table class="table">
            <thead class="table-select-row">
              <tr>
                <th class="col-md-2 col-xs-2"></th>
                <th class="col-md-9 col-xs-9"></th>
                <th class="col-md-1 col-xs-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Namespace:</td>
                <td>
                  <input type="text" size="40"
                    ng-change="setChanged('namespace')"
                    ng-model="userPreferences.namespace">
                </td>
                <td>
                  <button class="btn btn-xs btn-warning"
                    ng-show="namespaceChanged == true"
                    ng-click="saveUserPreference('namespace', userPreferences.namespace)"
                    title="Click to save the namespace">Save</button>
                </td>
              </tr>
              <tr>
                <td>Module Id:</td>
                <td>
                  <input type="text" size="40"
                    ng-change="setChanged('moduleId')"
                    ng-model="userPreferences.moduleId">
                </td>
                <td>
                  <button class="btn btn-xs btn-warning"
                    ng-show="moduleIdChanged == true"
                    ng-click="saveUserPreference('moduleId', userPreferences.moduleId)"
                    title="Click to save the module id">Save</button>
                </td>
              </tr>
              <tr>
                <td>Organization:</td>
                <td>
                  <input type="text" size="40"
                    ng-change="setChanged('organization')"
                    ng-model="userPreferences.organization">
                </td>
                <td>
                  <button class="btn btn-xs btn-warning"
                    ng-show="organizationChanged == true"
                    ng-click="saveUserPreference('organization', userPreferences.organization)"
                    title="Click to save the organization">Save</button>
                </td>
              </tr>
              <tr>
                <td>Exclusion Clause:</td>
                <td>
                  <input type="text" size="40"
                    ng-change="setChanged('exclusionClause')"
                    ng-model="userPreferences.exclusionClause">
                </td>
                <td>
                  <button class="btn btn-xs btn-warning"
                    ng-show="exclusionClauseChanged == true"
                    ng-click="saveUserPreference('exclusionClause', userPreferences.exclusionClause)"
                    title="Click to save the exclusionClause">Save</button>
                </td>
              </tr>
              <tr>
                <td>Feedback Email:</td>
                <td>
                  <input type="text" size="40"
                    ng-change="setChanged('feedbackEmail')"
                    ng-model="userPreferences.feedbackEmail">
                </td>
                <td>
                  <button class="btn btn-xs btn-warning"
                    ng-show="feedbackEmailChanged == true"
                    ng-click="saveUserPreference('feedbackEmail', userPreferences.feedbackEmail)"
                    title="Click to save the feedback email">Save</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h5>
          <b>Spelling and Memory Settings</b>
        </h5>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <!--  spelling correction -->
          <input type="checkbox" ng-change="saveUserPreferences()"
            ng-model="user.userPreferences.spellingEnabled">
          <span class="info-text" ng-show="user.userPreferences.spellingEnabled">Spelling
            Correction (ENABLED)</span>
          <span class="info-text"
            ng-show="!user.userPreferences.spellingEnabled">Spelling
            Correction (DISABLED)</span>
        </div>
        <div class="col-md-12 col-xs-12">
          <!--  phrase memory-->
          <input type="checkbox" ng-change="saveUserPreferences()"
            ng-model="user.userPreferences.memoryEnabled">
          <span class="info-text" ng-show="user.userPreferences.memoryEnabled">Phrase
            Memory Suggestion (ENABLED)</span>
          <span class="info-text" ng-show="!user.userPreferences.memoryEnabled">Phrase
            Memory Suggestion (DISABLED)</span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 5px;">
      <div class="col-md-12 col-xs-12">
        <h5>
          <b>Language Description Types</b>
        </h5>
      </div>
      <div class="col-md-12 col-xs-12">

        <!-- PFS table of available (not already assigned) language description types -->
        <div class="col-md-6 col-xs-6">
          <span>Available Types</span>
          <span style="display: block;">
            <uib-pagination items-per-page="pageSize" max-size="5"
              boundary-links="true" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"
              ng-show="pagedAvailableLdt.totalCount > pageSize || paging['lang'].filter"
              total-items="pagedAvailableLdt.totalCount"
              ng-model="paging['lang'].page" ng-change="getPagedAvailableLdt()"></uib-pagination>

            <input class="input-filter" placeholder="Search"
              ng-show="pagedAvailableLdt.totalCount > pageSize || paging['lang'].filter"
              type="text" ng-model="paging['lang'].filter"
              ng-model-options="{ debounce: 300 }"
              ng-change="getPagedAvailableLdt()">

            <button class="btn btn-xs btn-warning"
              ng-show="paging['lang'].filter"
              ng-click="paging['lang'].filter = ''; getPagedAvailableLdt()"
              title="Click to clear filter text">Clear</button>
          </span>

          <span style="display: block"
            ng-show="pagedAvailableLdt.length == 0 && paging['lang'].filter"
            class="alert alert-warning"> No language description types
            matching filter </span>
          <span style="display: block"
            ng-show="pagedAvailableLdt.length == 0 && !paging['lang'].filter"
            class="alert alert-warning"> No language description types </span>

          <table class="table"
            ng-show="pagedAvailableLdt.totalCount > 0 || paging['lang'].filter">
            <thead class="table-select-row">
              <tr>
                <th class="col-md-5 col-xs-5"
                  ng-click="setSortField('lang','name')">Name<span
                    ng-bind="getSortIndicator('lang','name')"></span>
                </th>
                <th class="col-md-3 col-xs-3"
                  ng-click="setSortField('lang','refsetId')">Refset Id<span
                    ng-bind="getSortIndicator('lang','refsetId')"></span>
                </th>
                <th class="col-md-1 col-xs-1"
                  ng-click="setSortField('lang','language')">Lang<span
                    ng-bind="getSortIndicator('lang','language')"></span>
                </th>
                <th class="col-md-2 col-xs-2"
                  ng-click="setSortField('lang','descriptionType.name')">Type<span
                    ng-bind="getSortIndicator('lang','descriptionType.name')"></span>
                </th>
                <th class="col-md-1 col-xs-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ldt in pagedAvailableLdt">
                <td>{{ldt.name}}</td>
                <td>{{ldt.refsetId}}</td>
                <td>{{ldt.language}}</td>
                <td>{{ldt.descriptionType.name}}</td>
                <td>
                  <!-- Actions -->
                  <i ng-click="addLanguageDescriptionType(ldt)"
                    title="Add language description type"
                    class="noul material-icons md-18">add</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Ordered table of assigned description types -->
        <div class="col-md-6 col-xs-6">
          <span>Precedence List</span>
          <span style="display: block"
            ng-show="user.userPreferences.languageDescriptionTypes.length == 0"
            class="alert alert-warning"> No language description types </span>

          <table class="table"
            ng-show="user.userPreferences.languageDescriptionTypes.length > 0">
            <thead class="table-select-row">
              <tr>
                <th class="col-md-5 col-xs-5">Name</th>
                <th class="col-md-3 col-xs-3">Refset Id</th>
                <th class="col-md-1 col-xs-1">Lang</th>
                <th class="col-md-1 col-xs-2">Type</th>
                <th class="col-md-1 col-xs-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="ldt in user.userPreferences.languageDescriptionTypes">
                <td>{{ldt.name}}</td>
                <td>{{ldt.refsetId}}</td>
                <td>{{ldt.language}}</td>
                <td>{{ldt.descriptionType.name}}</td>
                <td>
                  <span class="nobreak">
                    <!-- Actions - move up-->
                    <i ng-show="$index != 0"
                      ng-click="moveLanguageDescriptionTypeUp(ldt)"
                      title="Move language description type up"
                      class="noul material-icons md-18">file_upload</i>
                    <!-- Actions - move down-->
                    <i
                      ng-show="$index != user.userPreferences.languageDescriptionTypes.length-1"
                      ng-click="moveLanguageDescriptionTypeDown(ldt)"
                      title="Move language description type down"
                      class="noul material-icons md-18">file_download</i>
                    <!-- Actions - remove -->
                    <i ng-click="removeLanguageDescriptionType(ldt)"
                      title="Remove description type"
                      class="noul material-icons md-18">delete</i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </uib-accordion-group>
    <div></div>


    <h4>User &amp; Project Management</h4>
    <div class="col-md-6 col-xs-12">
      <h5 class="section-header">Project List</h5>

      <div ng-show="candidateProjects.totalCount != 0" style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="candidateProjects.totalCount > pageSize || paging['candidateProject'].filter"
          total-items="candidateProjects.totalCount"
          ng-model="paging['candidateProject'].page"
          ng-change="getCandidateProjects()"></uib-pagination>

        <input class="input-filter" placeholder="Search"
          ng-show="candidateProjects.totalCount > pageSize || paging['candidateProject'].filter"
          type="text" ng-model="paging['candidateProject'].filter"
          ng-model-options="{ debounce: 300 }"
          ng-change="getCandidateProjects()">

        <button class="btn btn-xs btn-warning"
          ng-show="paging['candidateProject'].filter"
          ng-click="paging['candidateProject'].filter = ''; getCandidateProjects()"
          title="Click to clear filter text">Clear</button>

        <table class="table">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-1 col-xs-1"
                ng-click="setSortField('candidateProject','id')">Id<span
                  ng-bind="getSortIndicator('candidateProject','id')"></span>
              </th>
              <th class="col-md-5 col-xs-5"
                ng-click="setSortField('candidateProject','name')">Name<span
                  ng-bind="getSortIndicator('candidateProject','name')"></span></th>
              <th class="col-md-6 col-xs-6"
                ng-click="setSortField('candidateProject','description')">Description<span
                  ng-bind="getSortIndicator('candidateProject','description')"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{selected: project.id === selectedProject.id}"
              ng-repeat="project in candidateProjects"
              ng-click="setProject(project)">
              <td>{{project.id}}</td>
              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <span ng-show="candidateProjects.totalCount == 0" style="display: block;"
        class="alert alert-warning"> No projects with admin role </span>

    </div>

    <div ng-show="candidateProjects.totalCount != 0" class="col-md-6 col-xs-12">
      <div class="col-md-12 col-xs-12">
        <h5 class="section-header">Unassigned Users</h5>
        <div ng-show="selectedProject">
          <span style="display: block;">
            <uib-pagination items-per-page="pageSize" max-size="5"
              boundary-links="true" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"
              ng-show="unassignedUsers.totalCount > pageSize || project['candidateUser'].filter"
              total-items="unassignedUsers.totalCount"
              ng-model="paging['candidateUser'].page"
              ng-change="getUnassignedUsers()"></uib-pagination>

            <input class="input-filter" placeholder="Search"
              type="text" ng-model="paging['candidateUser'].filter"
              ng-model-options="{ debounce: 300 }"
              ng-change="getUnassignedUsers()">

            <button class="btn btn-xs btn-warning"
              ng-click="paging['candidateUser'].filter = ''; getUnassignedUsers()"
              title="Click to clear filter text">Clear</button>
          </span>
             
          <table class="table">
            <thead class="table-select-row">
              <tr>
                <th class="col-md-5 col-xs-5 table-select-row"
                  ng-click="setSortField('candidateUser','name')">Name<span
                    ng-bind="getSortIndicator('candidateUser','name')"></span></th>
                <th class="col-md-4 col-xs-4 table-select-row"
                  ng-click="setSortField('candidateUser','userName')">UserName<span
                    ng-bind="getSortIndicator('candidateUser','userName')"></span></th>
                <th class="col-md-2 col-xs-2">Project Role</th>
                <th class="col-md-1 col-xs-1">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="unassigned in unassignedUsers">
                <td>{{unassigned.name}}</td>
                <td>{{unassigned.userName}}</td>
                <td>
                  <select ng-model="unassigned.projectRole"
                    ng-init="unassigned.projectRole='AUTHOR'"
                    ng-options="item for item in projectRoles"></select>
                </td>
                <td>

                  <i
                    ng-click="assignUserToProject(selectedProject.id, unassigned.userName, unassigned.projectRole)"
                    title="Add user to project with selected role."
                    class="noul material-icons md-18">add</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span ng-show="!selectedProject" style="display: block;"
          class="alert alert-warning"> No project selected</span>
        <span ng-show="selectedProject && unassignedUsers.totalCount == 0 
        && paging['candidateUser'].filter == ''"
          style="display: block;" class="alert alert-warning"> Selected
          project has no unassigned users</span>

      </div>

      <div ng-show="candidateProjects.totalCount != 0"
        class="col-md-12 col-xs-12">
        <h5 class="section-header">Assigned Users</h5>
        <div ng-show="selectedProject && assignedUsers.totalCount > 0">

          <span style="display: block;">
            <uib-pagination items-per-page="pageSize" max-size="5"
              boundary-links="true" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"
              ng-show="assignedUsers.totalCount > pageSize || paging['assignedUser'].filter"
              total-items="assignedUsers.totalCount"
              ng-model="paging['assignedUser'].page"
              ng-change="getAssignedUsers()"></uib-pagination>

            <input class="input-filter" placeholder="Search"
              ng-show="assignedUsers.totalCount > pageSize || paging['assignedUser'].filter"
              type="text" ng-model="paging['assignedUser'].filter"
              ng-model-options="{ debounce: 300 }"
              ng-change="getAssignedUsers()">

            <button class="btn btn-xs btn-warning"
              ng-show="paging['assignedUser'].filter"
              ng-click="paging['assignedUser'].filter = ''; getAssignedUsers()"
              title="Click to clear filter text">Clear</button>
          </span>

          <table class="table">
            <thead class="table-select-row">
              <tr>
                <th class="col-md-5 col-xs-5 table-select-row"
                  ng-click="setSortField('assignedUser','name')">Name<span
                    ng-bind="getSortIndicator('assignedUser','name')"></span></th>
                <th class="col-md-4 col-xs-4 table-select-row"
                  ng-click="setSortField('assignedUser','userName')">UserName<span
                    ng-bind="getSortIndicator('assignedUser','userName')"></span></th>
                <th class="col-md-2 col-xs-2">Project Role</th>
                <th class="col-md-1 col-xs-1">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="assigned in assignedUsers">
                <td>{{assigned.name}}</td>
                <td>{{assigned.userName}}</td>
                <td>{{assigned.projectRoleMap[selectedProject.id]}}</td>
                <td>
                  <i
                    confirm="Are you sure you want to unassign yourself from this project?"
                    confirm-if="user.userName == assigned.userName"
                    ng-click="unassignUserFromProject(selectedProject.id, assigned.userName);"
                    title="Unassign user" class="noul material-icons md-18">delete</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span ng-show="!selectedProject" style="display: block;"
          class="alert alert-warning"> No project selected</span>
        <span ng-show="selectedProject && assignedUsers.totalCount == 0"
          style="display: block;" class="alert alert-warning"> Selected
          project has no assigned users</span>

      </div>
    </div>
  </div>
</div>