<form ng-submit="submitUser(user)">
  <div class="modal-header">
    <h4 style="display: inline">{{action}} User</h4>
    <span style="float: right">
      <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
    </span>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <table class="slim table">
          <tr>
            <td>
              <b>Username</b>
            </td>
            <td>
              <input autofocus ng-show="action == 'Add'"
                ng-model="user.userName">
              <span ng-show="action != 'Add'">{{user.userName}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Name</b>
            </td>
            <td>
              <input ng-show="action == 'Add'" ng-model="user.name">
              <span ng-show="action != 'Add'">{{user.name}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Email</b>
            </td>
            <td>
              <input ng-show="action == 'Add'" ng-model="user.email" size="40">
              <span ng-show="action != 'Add'">{{user.email}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Editor Level</b>
            </td>
            <td>
              <input ng-model="user.editorLevel" size="5" list="levels">
              <datalist id="levels">
                <option>0</option>
                <option>5</option>
              </datalist>
              <span class="btn btn-xs btn-warning"
                ng-show="user.editorLevel || user.editorLevel == '0'"
                ng-click="user.editorLevel=''">Clear</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Application Role</b>
            </td>
            <td>
              <select ng-model="user.applicationRole"
                ng-options="item for item in applicationRoles"></select>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Errors -->
    <div errors="errors"></div>

  </div>

  <div class="modal-footer">
    <button ng-bind="action == 'Add' ? 'Add' : 'Save'" class="btn btn-primary"></button>
    <span class="btn btn-warning" ng-click="cancel()">Cancel</span>
  </div>
</form>