<div class="modal-header">
  <h4>Finder</h4>

</div>

<div class="modal-body">
  <div class="row">
    <!--  Left hand side -->
    <div class="col-md-5 col-xs-12">

      <!-- Search widget -->
      <div>
        <form ng-submit="getSearchResults(search)">
          <input autofocus ng-model="search" size="30">
          <button class="btn btn-primary"
            ng-click="getSearchResults(search, true);">Search</button>
        </form>
      </div>

      <!-- Search results -->

      <span ng-show="search && searchResults.length == 0"
        class="alert alert-warning">No results</span>

      <div ng-show="search && searchResults.length > 0">

        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="searchResults.totalCount > pageSize || paging['search'].filter"
            total-items="searchResults.totalCount"
            ng-model="paging['search'].page"
            ng-change="getSearchResults(search);"></uib-pagination>

        </span>

        <table ng-show="searchResults.length > 0" class="table">
          <thead class="pointer">
            <tr>
              <th class="col-md-3 col-xs-3">Concept Id</th>
              <th class="col-md-9 col-xs-9">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="concept in searchResults"
              ng-click="selectConcept(concept)"
              ng-class="{selected: concept.terminologyId === data.concept.terminologyId}">
              <td>{{concept.terminologyId}}</td>
              <td>
                {{concept.value}}
                <!-- <button class="btn btn-xs retired"
                  style="transform: scale(.6, .6); margin-bottom: 4px; padding-left: 4px;"
                  ng-show="!concept.active" uib-tooltip="Retired">R</button> -->
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  Right hand side -->
    <div class="col-md-7 col-xs-12">
      <span ng-show="searchResults.length > 0 && !data.concept"
        class="alert alert-warning">Select a concept to see details</span>

      <!-- Concept display -->
      <!-- <div ng-show="data.concept" concept-info data="data" value="value" 
        handle-workflow="getMemberTypes()" reset-member-types="getMemberTypes()"></div> -->
    <div  ng-show="data.concept">
      <h4 ng-show="data.concept">
        Concept Report
      </h4>
      <h4></br></h4>
      <pre ng-show="data.concept">
      {{conceptReport}}
      </pre>
      </div>
    </div>

    <!-- Errors -->
    <div class="col-md-12 col-xs-12">
      <div
        ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)"
        class="alert alert-danger alert-error">
        {{errors[0]}}
        <div style="display: inline; float: right;">
          <i ng-show="errors[1]"
            title="{{error.expand ? 'Show' : 'Hide'}} long eror"
            class="noul material-icons md-18"
            ng-click="error.expand = !error.expand;">attach_file</i>
        </div>
        <p ng-show="errors[1] && error.expand">
          <br />{{errors[1]}}
        </p>
      </div>
      <div
        ng-show="errors.length > 2 || (errors.length == 2 && errors[1].length<101)"
        class="alert alert-danger alert-error" ng-repeat="error in errors">
        {{error}}</div>
      <!-- Warnings -->
      <div class="alert alert-warning" ng-repeat="warning in warnings">
        {{warning}}
        <div style="cursor: pointer; display: inline; float: right; width: 3%;">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-disabled="!data.concept.terminologyId" ng-click="addConcept(data.concept)">Select</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>