<div class="modal-header">
  <h4>Add {{projectRole}} Time</h4>

</div>

<div class="modal-body">
  <div class="row">
    <table class="table">
      <tr>
        <td>
          <b>Hours</b>
        </td>
        <td>
          <input ng-model="hours" type="number" size="3" />
        </td>
      </tr>
      <tr>
        <td>
          <b>Minutes</b>
        </td>
        <td>
          <input ng-model="minutes" type="number" size="3" />
        </td>
      </tr>
    </table>

    <!-- Errors -->
    <div class="col-md-12 col-xs-12">
      <div
        ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)"
        class="alert alert-danger alert-error">
        {{errors[0]}}
        <div style="display: inline; float: right;">
          <i ng-show="errors[1]"
            title="{{error.expand ? 'Show' : 'Hide'}} long eror"
            class="noul material-icons md-18"
            ng-click="error.expand = !error.expand;">attach_file</i>
        </div>
        <p ng-show="errors[1] && error.expand">
          <br />{{errors[1]}}
        </p>
      </div>
      <div
        ng-show="errors.length > 2 || (errors.length == 2 && errors[1].length<101)"
        class="alert alert-danger alert-error" ng-repeat="error in errors">
        {{error}}</div>
      <!-- Warnings -->
      <div class="alert alert-warning" ng-repeat="warning in warnings">
        {{warning}}
        <div style="cursor: pointer; display: inline; float: right; width: 3%;">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!hours || !minutes"
    ng-click="addTime()">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>