<form ng-submit="finish()">
  <div class="modal-header">
    <h4 style="display: inline">{{action}} {{worklist.name}}</h4>
    <span style="float: right">
      <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
    </span>
  </div>

  <div class="modal-body">

    <div>Enter time spent editing worklist:</div>
    <table class="slim table">
      <tr>
        <td>
          <b>Hours</b>
        </td>
        <td>
          <input ng-model="hours" type="number" size="3" />
        </td>
      <tr>
        <td>
          <b>Minutes</b>
        </td>
        <td>
          <input ng-model="minutes" type="number" size="3" />
        </td>
      </tr>
    </table>

    <!-- Errors -->
    <div errors="errors"></div>

  </div>

  <div class="modal-footer">
    <button ng-disabled="!hours && !minutes" ng-bind="action"
      class="btn btn-primary"></button>
    <span class="btn btn-warning" ng-click="cancel()">Close</span>
  </div>
</form>