<div class="modal-header">
  <h4>Finish {{worklist.name}}</h4>

</div>

<div class="modal-body">

  <table class="table">
    <tr>
      <td>
        <b>Hours</b>
      </td>
      <td>
        <input ng-model="hours" type="number" size="3" />
      </td>
    </tr>
    <tr>
      <td>
        <b>Minutes</b>
      </td>
      <td>
        <input ng-model="minutes" type="number" size="3" />
      </td>
    </tr>
  </table>

  <!-- Errors -->
  <div errors="errors"></div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary"
    ng-click="finish()">Finish</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>