<div class="modal-header">
  <h4>Concept Merge</h4>
</div>

<div class="modal-body">
  <table class="table">
    <tr>
      <td>
        <b>Concept 1</b>
      </td>
      <td>{{concept.name}}&nbsp;({{concept.id}})</td>
    </tr>
    <tr>
      <td>
        <b>Concept 2</b>
      </td>
      <td>
        <span ng-show="prospectiveMergeConcepts.length > 1">
          <select ng-model="mergeConcept"
            ng-options="concept.name.concat(' (', concept.id,')') for concept in prospectiveMergeConcepts"></select>
        </span>
        <span ng-show="prospectiveMergeConcepts.length == 1">
          {{prospectiveMergeConcepts[0].name}}&nbsp;({{prospectiveMergeConcepts[0].id}})</span>
      </td>
    </tr>
  </table>

  <!-- Errors -->
  <div errors="errors" warnings="warnings"></div>

</div>


<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!mergeConcept"
    ng-click="merge(concept, mergeConcept);" title="Merge concepts">Merge</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>