<div class="modal-header">
  <h4>{{action}}</h4>
</div>

<div class="modal-body">
  <table class="slim table">
    <!--  SECTION A -->
    <tr ng-show="defaultOrder">
      <td class="col-md-3 col-xs-3">
        <span ng-show="action == 'Move' || (action == 'Merge' && defaultOrder)">
          <b>From Concept</b>
        </span>
        <span ng-show="action == 'Split'">
          <b>Concept</b>
        </span>
      </td>
      <td class="col-md-9 col-xs-9">
        <table class="slim table">
          <tbody>
            <tr>
              <td class="col-md-2 col-xs-2">{{selected.component.id}}</td>
              <td class="col-md-5 col-xs-5">{{selected.component.name}}</td>
              <td class="col-md-5 col-xs-5">
                <span ng-repeat='sty in selected.component.semanticTypes'>
                  {{sty.semanticType}}</br>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="slim table" ng-show="action == 'Split' || action == 'Move'">
          <thead>
            <th>Atoms:</th>
          </thead>
          <tbody>
            <tr ng-repeat="atom in selected.atoms">
              <td class="col-md-5 col-xs-5">{{atom.name}}</td>
              <td class="col-md-3 col-xs-3">{{atom.terminology}}/{{atom.termType}}</td>
              <td class="col-md-4 col-xs-4">{{atom.codeId}}
                {{atom.conceptId}} {{atom.descriptorId}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!--  SECTION B  -->
    <tr ng-show="action != 'Split'">
      <td>
        <b><span ng-show="defaultOrder">To</span> <span
            ng-show="!defaultOrder">From</span> Concept</b>
      </td>
      <td>
        <table class="slim table">
          <tbody>
            <tr ng-repeat="concept in toConcepts" class="pointer"
              ng-click="selectToConcept(concept)"
              ng-class="{selected: concept.id == toConcept.id}">
              <td class="col-md-2 col-xs-2">{{concept.id}}</td>
              <td class="col-md-5 col-xs-5">{{concept.name}}</td>
              <td class="col-md-5 col-xs-5">
                <span ng-repeat='sty in concept.semanticTypes'>
                  {{sty.semanticType}}</br>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!--  SECTION C (normally invisible) -->
    <tr ng-show="!defaultOrder">
      <td>
        <span ng-show="action == 'Move'">
          <b>From Concept</b>
        </span>
        <span ng-show="action == 'Merge'">
          <b>To Concept</b>
        </span>
        <span ng-show="action == 'Split'">
          <b>Concept</b>
        </span>
      </td>
      <td>
        <table class="slim table">
          <tbody>
            <tr>
              <td class="col-md-2 col-xs-2">{{selected.component.id}}</td>
              <td class="col-md-5 col-xs-5">{{selected.component.name}}</td>
              <td class="col-md-5 col-xs-5">
                <span ng-repeat='sty in selected.component.semanticTypes'>
                  {{sty.semanticType}}</br>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="slim table" ng-show="action == 'Split' || action == 'Move'">
          <thead>
            <th>Atoms:</th>
          </thead>
          <tbody>
            <tr ng-repeat="atom in selected.atoms">
              <td class="col-md-5 col-xs-5">{{atom.name}}</td>
              <td class="col-md-3 col-xs-3">{{atom.terminology}}/{{atom.termType}}</td>
              <td class="col-md-4 col-xs-4">{{atom.codeId}}
                {{atom.conceptId}} {{atom.descriptorId}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr ng-show="action == 'Split'">
      <td>
        <span title="Copy relationships & semantic types to new concept."><b>Copy</b></span>
      </td>
      <td>
        <input type="checkbox" ng-model="copy"
          title="Copy relationships & semantic types to new concept.">
      </td>
    </tr>
    <tr ng-show="action == 'Split' || action == 'Insert'">
      <td>
        <b>Relationship Type</b>
      </td>
      <td>
        <span>
          <select ng-model="selectedRelationshipType"
            ng-options="item.key as item.key.concat(' ', item.value) for item in acceptedRelationshipTypes"></select>
        </span>
      </td>
    </tr>
    <!-- <tr>
      <td>
        <b>Workflow Status</b>
      </td>
      <td>
        <select ng-model="selectedWorkflowStatus"
          ng-options="item.substring(0, 1) for item in workflowStatuses"></select>
      </td>
    </tr> -->
  </table>


  <!-- Errors -->
  <div errors="errors" warnings="warnings"></div>

</div>


<div class="modal-footer">
  <span style="float: left;">
    <div finder selected="selected" lists="lists" callbacks="callbacks"></div>
  </span>
  <span ng-show="action == 'Merge'">
    <i ng-click="reverseMergeOrder(); " title="Reverse merge order"
      class="mr20 noul glyphicon glyphicon-sort"></i>
  </span>
  <button ng-show="action == 'Merge'" class="btn btn-primary"
    ng-disabled="!toConcept" ng-click="merge();" title="Merge concepts">Merge</button>
  <button ng-show="action == 'Move'" class="btn btn-primary" ng-click="move();"
    ng-disabled="!toConcept" title="Move concepts">Move</button>
  <button ng-show="action == 'Split'" class="btn btn-primary"
    ng-click="split(selected.component);" title="Split atoms">Split</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>