
<h4>
  <b>Semantic Type Editor  ({{selected.component.semanticTypes.length}})</b>
</h4>
<h4 class="{{selected.component.workflowStatus}}">{{selected.component.name}}
  {{selected.component.id}}</h4>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-11 col-xs-11">Semantic Type</th>
      <th class="col-md-1 col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="semanticType in selected.component.semanticTypes">
      <td class="{{semanticType.workflowStatus}}">{{semanticType.semanticType}}</td>
      <td>
        <i ng-click="removeSemanticTypeFromConcept(semanticType); "
          title="Remove Semantic Type" class="noul glyphicon glyphicon-trash"></i>
      </td>
    </tr>
  </tbody>
</table>

<span style="float: right;">
  <button confirm="Are you sure you want to approve the selected concept?"
    ng-click="approveConcept()" title="Approve" class="btn btn-xs btn-primary">Approve</button>
  <button ng-click="next()" title="Next" class="btn btn-xs btn-primary">Next</button>
  <button confirm="Are you sure you want to approve the selected concept?"
    ng-click="approveNext()" title="Approve/Next" class="btn btn-xs btn-primary">Approve/Next</button>
</span>
<br>
<br>
<br>

<div pager paging="paging['stys']" count="pagedStys.totalCount"
  callbacks="paging['stys'].callbacks"></div>


<table class="table">
  <thead>
    <tr>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('stys','typeId')">TUI</span> <span
          ng-bind="getSortIndicator('stys','typeId')"></span></th>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('stys','treeNumber')">Tree #</span> <span
          ng-bind="getSortIndicator('stys','treeNumber')"></span></th>
      <th class="col-md-7 col-xs-7"><span
          ng-click="setSortField('stys','expandedForm')">Semantic Type</span> <span
          ng-bind="getSortIndicator('stys','expandedForm')"></span></th>
      <th class="col-md-1 col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="semanticType in pagedStys.data">
      <td>{{semanticType.typeId}}</td>
      <td>{{semanticType.treeNumber}}</td>
      <td>{{semanticType.expandedForm}}</td>
      <td>
        <i ng-click="addSemanticTypeToConcept(semanticType.expandedForm); "
          title="Add Semantic Type" class="noul glyphicon glyphicon-plus"></i>
      </td>
    </tr>
  </tbody>
</table>
