<span ng-show="!selected.project.editingEnabled" style="display: block;"
  class="alert alert-danger">Editing is disabled.</span>
<h4>
  <b style="padding-left: 0px" class="mb10 col-md-4 col-xs-4">{{selected.metadata.semanticTypesLabel}}
    ({{selected.component.semanticTypes.length}})</b>
  <span class="mb10 col-md-8 col-xs-8 {{selected.component.workflowStatus}}">{{selected.component.name}}
    {{selected.component.id}}</span>
</h4>
<table class="slim table">
  <thead>
    <tr>
      <th class="col-md-11 col-xs-11">Semantic Types</th>
      <th class="col-md-1 col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="semanticType in selected.component.semanticTypes">
      <td class="{{semanticType.workflowStatus}}">{{semanticType.semanticType}}</td>
      <td>
        <i ng-click="removeSemanticTypeFromConcept(semanticType); "
          ng-disabled="!selected.project.editingEnabled"
          title="Remove Semantic Type" class="noul glyphicon glyphicon-trash"></i>
      </td>
    </tr>
  </tbody>
</table>

<span style="float: right;">
  <button ng-click="approveConcept()" title="Approve"
    ng-disabled="!selected.project.editingEnabled"
    class="btn btn-xs btn-primary">Approve</button>
  <button ng-click="next()" title="Next"
    ng-disabled="!selected.project.editingEnabled"
    class="btn btn-xs btn-primary">Next</button>
  <button ng-click="approveNext()" title="Approve/Next"
    ng-disabled="!selected.project.editingEnabled"
    class="btn btn-xs btn-primary">Approve/Next</button>
</span>
<br>
<br>
<br>

<div>
  <span pager paging="paging['stys']" count="pagedStys.totalCount"
    callbacks="paging['stys'].callbacks"></span>
  <span ng-show="pagedStys.totalCount > 10" style="float: right;">
    Page size: <select ng-model="paging['stys'].pageSize" title="Page Size"
      ng-change="paging['stys'].callbacks.getPagedList()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </span>
</div>

<table class="slim table">
  <thead>
    <tr>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('stys','typeId')">TUI</span> <span
          ng-bind="getSortIndicator('stys','typeId')"></span></th>
      <th class="col-md-2 col-xs-2"><span
          ng-click="setSortField('stys','treeNumber')">Tree #</span> <span
          ng-bind="getSortIndicator('stys','treeNumber')"></span></th>
      <th class="col-md-7 col-xs-7"><span
          ng-click="setSortField('stys','expandedForm')">Semantic Type</span> <span
          ng-bind="getSortIndicator('stys','expandedForm')"></span></th>
      <th class="col-md-1 col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="semanticType in pagedStys.data">
      <td>{{semanticType.typeId}}</td>
      <td>{{semanticType.treeNumber}}</td>
      <td>{{semanticType.expandedForm}}</td>
      <td>
        <button ng-click="addSemanticTypeToConcept(semanticType.expandedForm); "
          ng-disabled="!selected.project.editingEnabled"
          title="Add Semantic Type" class="btn btn-xs btn-primary">Add</button>
      </td>
    </tr>
  </tbody>
</table>
</div>