/* quick style for horiontal placement with padding */
body {
	padding-bottom: 100px;
}

hr {
	width: 100%;
	color: lightgrey;
	height: 1px;
	background-color: lightgrey;
}

h5 {
	font-weight: 500;
	font-size: 16px;
}

/* Override the 8px default table td padding */
.slim>tbody>tr>td {
	padding: 2px;
}

.slim>tbody>tr>td {
	padding: 2px;
}

.slim>tr>td {
	padding: 2px;
}

.slim>thead>tr>th {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.slim>tr>th {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.panel-heading {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.minibtn {
	transform: scale(.8, .8);
	padding-left: 5px;
}

.loginField {
	margin: 5px;
}

.alert {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.btn-structure {
	width: 90px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.btn-selected {
	color: grey;
}

.selected {
	background-color: #e9e9e9;
}

.swagger-ui-wrap p {
	line-height: 1.4em;
	padding: 0 0 10px;
	color: #333333;
}

.top-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 10000;
	cursor: wait;
	background-color: #FFFFFF;
}

.ul {
	word-wrap: break-word;
}

.icon-list {
	display: block;
	list-style: none;
	padding-left: 0;
	margin-left: 1em;
	list-style: none;
}

.glyphicon-none:before {
	color: transparent;
}

.pagination {
	display: inline;
	/* override from inline-block to allow multiple items per line */
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-radius: 4px;
}

.input-filter {
	display: inline;
	padding-left: 0;
	margin-bottom: 20px; /* to match the padding of pagination */
	margin-left: 0px;
	border-radius: 4px;
	font-size: 14px; /* to match font-size of pagination */
	line-height: 1.42857143; /* to match line-height of pagination */
}

.highlighted {
	background: yellow
}

.hidden {
	opacity: 0;
}

/* Angular UI Tree overrides */
.angular-ui-tree-handle {
	font-weight: normal; /* originally 700 */
	cursor: auto; /* originally move */
}

.glyphicon-muted {
	opacity: 0.8;
}

.glyphicon-leaf {
	opacity: 0.5;
}

.nocontent {
	opacity: 0.2;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.grey {
	color: grey;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}

.noul {
	color: #337ab7;
	cursor: pointer;
	text-decoration: none;
}

.nolink {
	color: black;
	cursor: none;
	text-decoration: none;
}

.nobreak {
	display: inline-block;
	white-space: nowrap;
}

.breakword {
	word-break: break-all;
}

.ellipsis {
	text-overflow: ellipsis;
}

.pointer {
	cursor: pointer;
}

.m10 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.m25 {
	padding-left: 25px;
	padding-right: 25px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.mr20 {
	margin-right: 20px;
}

.mb10 {
	margin-bottom: 10px;
}
.mt5 {
	margin-top: 5px;
}

.tab-disabled {
	color: gray;
	cursor: pointer;
}

/* Makes table section headers medium blue background */
.section-header {
	background-color: #bee4f2;
	padding: 5px;
}

.table {
	font-size: 14px;
	margin-bottom: 10px;
}

/* File upload drop zone stying */
.afu-drop-zone {
	border: dotted 3px lightgray;
	padding: 10px;
}

.nv-file-over {
	border: dotted 3px red;
	padding: 10px;
} /* Default class applied to drop zones on over */
.landing-img {
	border-radius: 10px;
	border: 1px solid gray;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.h450px {
	max-height: 450px;
}

.h400px {
	max-height: 400px;
}

.h400px {
	max-height: 3d00px;
}

.w45 {
	max-width: 45%;
}

.w30 {
	max-width: 30%;
}

.m10 {
	margin-top: 10px;
}

.truncate {
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.preformatted {
	font-family: monospace;
	white-space: pre;
	background-color: #f5f5f5;
	overflow-x: scroll;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
}

.READY_FOR_PUBLICATION {
	color: black;
}

.PUBLISHED {
	color: black;
}

.NEEDS_REVIEW {
	color: red;
}

.DEMOTION {
	color: blue;
}

.EMBRYO {
	color: green;
}

.OBSOLETE {
	color: purple;
}

.UNRELEASABLE {
	color: green;
}

.RXNORM {
	color: orange;
}

/* For vertical centering */
.v-wrap {
	height: 100%;
	white-space: nowrap;
	text-align: center;
}

.v-wrap:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	/* adjust for white space between pseudo element and next sibling */
	margin-right: -.25em;
	/* stretch line height */
	height: 100%;
}

.v-box {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

/* Make the pagination control smaller so it works with btn-xs */
.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 3px 5.5px;
	font-size: 12px;
	line-height: 1.5;
}

.yscroll {
	overflow-y: scroll;
}