<div class="modal-header">
  <h4>{{action}} {{algorithm.name}}</h4>
</div>

<div class="modal-body">
  <table class="table">
    <tbody>
      <tr>
        <td class="col-md-3 col-xs-3">
          <b>Name</b>
        </td>
        <td class="col-md-9 col-xs-9">
          <span ng-if="action == 'Edit'">{{algorithm.name}}</span>
          <span ng-if="action == 'Add'">
            <input type="text" ng-model="algorithm.name" size="40" />
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>
          <span ng-if="action == 'Edit'">{{algorithm.description}}</span>
          <span ng-if="action == 'Add'">
            <input type="text" ng-model="algorithm.description" size="40" />
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Key</b>
        </td>
        <td>{{algorithm.algorithmKey}}</td>
      </tr>

      <tr ng-repeat="parameter in algorithm.parameters">
        <td>
          <b>{{parameter.name}}</b>
        </td>
        <td ng-show="parameter.type == 'STRING' || parameter.type == 'TEXT'">
          <input type="text" ng-model="parameter.value" size="60"
            uib-tooltip="{{parameter.description}}"
            placeholder="{{parameter.placeholder}}" />
        </td>
        <td ng-show="parameter.type == 'BOOLEAN'">
          <input type="checkbox" string-to-boolean ng-model="parameter.value"
            uib-tooltip="{{parameter.description}}">
        </td>
        <td ng-show="parameter.type == 'MULTI'">
          <span uib-tooltip="{{parameter.description}}">
            <select multiple ng-model="parameter.values"
              ng-options="possibleValue for possibleValue in parameter.possibleValues"></select>
          </span>
        </td>
        <td ng-show="parameter.type == 'INTEGER'">
          <input type="number" string-to-number size="4"
            ng-model="parameter.value" placeholder="{{parameter.placeholder}}"
            uib-tooltip="{{parameter.description}}" />
        </td>
        <td ng-show="parameter.type == 'ENUM'">
          <span uib-tooltip="{{parameter.description}}">
            <select ng-model="parameter.value"
              ng-options="possibleValue for possibleValue in parameter.possibleValues"></select>
          </span>
        </td>
      </tr>
      <tr ng-show="action == 'Add' && steps.length > 0">
        <td>
          <b>Position step after</b>
        </td>
        <td>
          <select ng-model="positionStep"
            ng-change="positionAfterStep(positionStep)"
            ng-options="positionStep.name for positionStep in steps">
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Errors -->
  <div errors="errors"></div>

  <!-- messages -->
  <div class="col-md-12 col-xs-12">
    <div class="alert alert-success" ng-repeat="message in messages">
      {{message}}
      <div style="cursor: pointer; display: inline; float: right; width: 3%;">
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button ng-show="action == 'Add'" class="btn btn-primary"
    ng-click="submitAlgorithm(algorithm); ">Add</button>
  <button ng-show="action == 'Edit'" class="btn btn-primary"
    ng-click="submitAlgorithm(algorithm); ">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
