<!-- Controlled by ProcessCtrl (in processController.js)  -->
<div class="row">

  <!-- Project stuff -->
  <div class="col-md-12 col-xs-12">
    <h6>
      <span>
        Project: <select ng-model="selected.project"
          ng-show="lists.projects.length > 1"
          ng-options="item.name for item in lists.projects"
          ng-change="setProject(selected.project);"></select>
        <span ng-show="lists.projects.length == 1">{{selected.project.name}}</span>
      </span>
      <span>
        &nbsp;&nbsp;Role: <select ng-model="selected.projectRole"
          ng-show="lists.projectRoles.length > 1"
          ng-change="changeProjectRole()"
          ng-options="projectRole for projectRole in lists.projectRoles"></select>
        <span ng-show="lists.projectRoles.length == 1">{{selected.projectRole}}</span>
      </span>
    </h6>
  </div>
  <div>
    <ul class="pointer nav nav-tabs">
      <li ng-repeat='mode in lists.modes'
        ng-class="{active : selected.mode == mode}"><a
          ng-click="setMode(mode)">{{mode}} ({{counts[mode]}})</a></li>
    </ul>
  </div>


  <!-- C1 -->
  <div class=" col-md-6 col-xs-12">
    <div class="mt5">
      Type: <select ng-model="selected.processType" ng-change="getProcesses()"
        ng-options="processType for processType in lists.processTypes"></select>
      <span style="float: right;">
        <button ng-click="openAddProcessModal()" title="Add new process"
          ng-show="selected.mode != 'Execution' && selected.projectRole == 'ADMINISTRATOR'"
          class="btn btn-xs btn-primary">Add Process</button>
      </span>
    </div>

    <div pager paging="paging['process']" style="margin-top: 5px"
      count="lists.processes.totalCount" callbacks="paging['process'].callbacks"></div>
    <table ng-show="lists.processes.totalCount > 0" class="slim table pointer">
      <thead>
        <tr>
          <th class="col-md-3 col-xs-3"><span
              ng-click="setSortField('process','name')">
              Name
              <span ng-bind="getSortIndicator('process','name')"></span>
            </span></th>
          <th class="col-md-5 col-xs-5">Description</th>
          <th class="col-md-3 col-xs-3"><span
              ng-click="setSortField('process','lastModified')">
              Last Modified
              <span ng-bind="getSortIndicator('process','lastModified')"></span>
            </span></th>
          <!-- Actions header -->
          <th class="col-md-1 col-xs-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="process in lists.processes"
          ng-click="selectProcess(process);"
          ng-class="{selected: process.id == selected.process.id}">

          <td>{{process.name}}</td>
          <td>{{process.description}}</td>
          <td>{{toDate(process.lastModified)}}</td>

          <!--  actions -->
          <td class="nobreak">
            <i title="Edit process"
              ng-show="selected.projectRole == 'ADMINISTRATOR' && selected.mode != 'Execution'"
              ng-click="openEditProcessModal(process); $event.stopPropagation()"
              class="noul glyphicon glyphicon-pencil"></i>
            <i title="Remove process"
              ng-show="selected.projectRole == 'ADMINISTRATOR'"
              confirm="Are you sure you want to remove the process ({{process.name}})?"
              ng-click="removeProcess(process.id); $event.stopPropagation()"
              class="noul glyphicon glyphicon-trash"></i>

          </td>
        </tr>
      </tbody>
      <span ng-show="lists.processes.totalCount == 0"
        class="alert alert-warning">There are no processes of type
        {{selected.processType}}.</span>

    </table>
  </div>


  <!-- R1C2 - concepts list  -->
  <div class="col-md-6 col-xs-12">

    <span ng-show="selected.process">
      <h4>Process Details</h4>
    </span>
    <!-- Details, Releases, Records -->
    <span ng-show="!selected.process && list.processes.length > 0"
      class="alert alert-warning">Select a process to see details</span>

    <div ng-show="selected.process">

      <!-- Process Details -->
      <table class="slim table pointer">
        <tbody>
          <tr>
            <td>
              <b>Name</b>
            </td>
            <td>{{selected.process.name}}</td>
          </tr>
          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.process.description}}</td>
          </tr>

          <tr>
            <td>
              <b>Terminology</b>
            </td>
            <td>{{selected.project.terminology}}</td>
          </tr>

          <tr>
            <td>
              <b>Version</b>
            </td>
            <td>{{selected.project.version}}</td>
          </tr>

          <tr>
            <td>
              <b>Input Path</b>
            </td>
            <td>{{selected.process.inputPath}}</td>
          </tr>

          <tr ng-show="selected.mode == 'Execution'">
            <td>
              <b>Log</b>
            </td>
            <td>
              <div log selected="selected" type="Process"></div>
            </td>
          </tr>

          <tr
            ng-show="selected.mode == 'Execution' && selected.process.startDate">
            <td>
              <b>Start date</b>
            </td>
            <td>{{toDate(selected.process.startDate)}}</td>
          </tr>

          <tr
            ng-show="selected.mode == 'Execution' && selected.process.failDate">
            <td>
              <b>Fail date</b>
            </td>
            <td>{{toDate(selected.process.failDate)}}</td>
          </tr>

          <tr
            ng-show="selected.mode == 'Execution' && selected.process.finishDate">
            <td>
              <b>Finish date</b>
            </td>
            <td>{{toDate(selected.process.finishDate)}}</td>
          </tr>

          <tr ng-show="selected.mode == 'Execution'">
            <td>
              <b>State</b>
            </td>
            <td>{{getExecutionState(selected.process)}}</td>
          </tr>

          <tr ng-show="selected.mode == 'Execution'">
            <td>
              <b>Progress</b>
            </td>
            <td>
              <uib-progressbar max="max" value="processProgress[process.id]">
              <span style="color: white; white-space: nowrap;">{{processProgress[process.id]}}
                / {{max}}</span></uib-progressbar>
            </td>
          </tr>

          <tr ng-show="selected.mode == 'Execution'">
            <td>
              <b>{{stepName}}</b>
            </td>
            <td>
              <uib-progressbar max="max" value="processProgress[step.id]">
              <span style="color: white; white-space: nowrap;">{{processProgress[step.id]}}
                / {{max}}</span></uib-progressbar>
            </td>
          </tr>

        </tbody>
      </table>
      <div style="margin-bottom: 10px;">
        <h5 style="display: inline;">
          <b>Steps</b>
        </h5>
        <span
          ng-show="selected.projectRole == 'ADMINISTRATOR'   && selected.mode != 'Execution'"
          style="float: right;">
          <select ng-model="selected.algorithmConfigType"
            ng-change="changeAlgorithmConfigType()"
            ng-options="configType.value for configType in lists.algorithmConfigTypes"></select>
          <button ng-click="openAddAlgorithmModal()" title="Add"
            class="btn btn-xs btn-primary">Add</button>
        </span>
      </div>
      <table class="slim table pointer">
        <tr ng-repeat="step in selected.process.steps"
          ng-click="selectStep(step);"
          ng-class="{selected: step.id == selected.step.id}">
          <td class="col-md-4 col-xs-4">{{step.name}}</td>
          <td class="col-md-4 col-xs-4">{{step.description}}</td>
          <td class="col-md-3 col-xs-3">{{toDate(step.lastModified)}}</td>
          <td class="col-md-1 col-xs-1 nobreak">
            <span ng-show="selected.mode == 'Execution'" log selected="selected"
              type="Step"></span>
            <span ng-show="selected.mode != 'Execution'" class="nobreak">
              <!-- Actions - move up-->
              <i ng-if="!isFirstIndex(step)" ng-click="moveStepUp(step)"
                title="Move step up" class="noul material-icons md-18">file_upload</i>
              <!-- Actions - move down-->
              <i ng-if="!isLastIndex(step)" ng-click="moveStepDown(step)"
                title="Move step down" class="noul material-icons md-18">file_download</i>

            </span>

            <i title="Edit step"
              ng-show="selected.projectRole == 'ADMINISTRATOR' && selected.mode != 'Execution'"
              ng-click="openEditAlgorithmModal(step); $event.stopPropagation()"
              class="noul glyphicon glyphicon-pencil"></i>
            <i title="Remove step"
              ng-show="selected.projectRole == 'ADMINISTRATOR' && selected.mode != 'Execution'"
              confirm="Are you sure you want to remove the step ({{step.name}})?"
              ng-click="removeAlgorithmConfig(step.id); $event.stopPropagation()"
              class="noul glyphicon glyphicon-trash"></i>
          </td>
        </tr>
        <span ng-show="selected.process.steps.length == 0"
          class="alert alert-warning">There are no steps. Add a step. </span>
      </table>

      <button ng-show="selected.process && selected.mode == 'Config'"
        class="btn btn-primary"
        confirm="Are you sure you want to execute the process ({{selected.process.name}})?"
        ng-click="executeProcess(); ">Execute</button>
      <button
        ng-show="selected.process && selected.mode == 'Execution' && !selected.process.failDate && !selected.process.finishDate"
        class="btn btn-primary" ng-click="cancelProcess(selected.process.id); ">Cancel</button>
      <button
        ng-show="selected.process && selected.mode == 'Execution' && 
      (getExecutionState(selected.process) == 'FAILED' || getExecutionState(selected.process) == 'CANCELLED')"
        class="btn btn-primary" ng-click="restartProcess(selected.process.id); ">Restart</button>
    </div>
  </div>