<!-- Controlled by MetadataCtrl (in metadataController.js)  -->
<div class="row">

  <!-- Metadata -->
  <div class="col-md-12 col-xs-12">


    <h3>Metadata for {{metadata.terminology.terminology}}</h3>
    <ul>
      <li>Preferred Name: {{metadata.terminology.preferredName}}</li>
      <li>Version: {{metadata.terminology.terminologyVersion}}</li>
      <li>Organizing Class Type:
        {{metadata.terminology.organizingClassType}}</li>
      <li>Precedence List (in rank order)
        <ul>
          <li ng-repeat="pair in metadata.precedenceList.keyValuePair">{{pair.key}}/{{pair.value}}</li>
        </ul>
      </li>
      <li ng-repeat="item in metadata.entries"
        ng-show="item.keyValuePair.length > 0"><b>{{item.name}}</b>
        <ul>
          <li ng-repeat="pair in item.keyValuePair"><span
              class="label label-info">{{pair.key}}</span>&nbsp;{{pair.value}}</li>
        </ul></li>
    </ul>
  </div>
</div>